*~
*.pyc
activities/__pycache__/
activity_media/__pycache__/
admin_app/__pycache__/
admin_app/migrations/
admin_app/templatetags/__pycache__/
figures/__pycache__/
osu_www/__pycache__/
pages/__pycache__/
problem_sets/__pycache__/
public_app/__pycache__/
sequences/__pycache__/
sequences/templatetags/__pycache__/
shell_scripts/
site_directory/__pycache__/
static/open-iconic/.gitignore
users/__pycache__/
.gitignore
*gitignore
/latex_snippet
/venv
