*~
*.pyc
*.sql
*.sql.gz
__pycache__
shell_scripts/
static/open-iconic/.gitignore
.gitignore
*gitignore
/latex_snippet
/venv
/build/latex_snippet
latex_snippet.js
latex_snippet_bg.wasm
osu_www/whoosh_index/
osu_www/osu_www/whoosh_index/
/my.cnf
secret_key.py