{% extends 'public_app/base_multi_editor.html' %}
{% block content %}
  <div class="container">
    <div class="page-header">
      <h1>Sequences</h1>
    </div>
  </div>

  <div class="container">
  <!-- <p>This is the templates/public_app/problem_list.html file.</p> -->
    {% if perms.admin_app.can_add_sequence %}
    <p><a class="btn btn-sm btn-success" href="{% url 'sequence_new' %}" class="top-menu"><span class="oi oi-plus" title="Add new sequence button" alt="Create a new sequence."></span> Add Sequence </a></p>
    {% endif %}
    {% for sequence in sequences %}
        <div class="card overflow-auto" style="margin-bottom: 10px;">
          <div class="card-body">
            <h5><a href="{% url 'sequence_detail_solution' pk=sequence.pk %}">{{ sequence.title }}</a></h5>
            <!-- {% if perms.admin_app.can_view_solution %}
            <div class="btn-group" role="group" aria-label="View and Edit Buttons for {{ problem.problem_title }}" style="margin-bottom: 5px;">
              <a class="btn btn-primary btn-sm" href="{% url 'sequence_detail_solution' pk=sequence.pk %}">View</a>
              <a class="btn btn-secondary btn-sm" href="{% url 'sequence_edit' pk=sequence.pk %}">Edit</a>
            </div>
            {% else %}
            <a class="btn btn-primary btn-sm" href="{% url 'sequence_detail' pk=sequence.pk %}">View</a>
            {% endif %} -->
            {% if sequence.overview_paragraph %}
              {% if forloop.counter == 1 %}
                <p class="latextorender tex2jax_ignore" data-latex="{{ sequence.overview_paragraph }}" id="sequence_overview_paragraph{{ forloop.counter }}">{{ sequence.overview_paragraph }}</p>
              {% else %}
                <p class="overflow-auto latextorender tex2jax_ignore" data-latex="{{ sequence.overview_paragraph }}" id="sequence_overview_paragraph{{ forloop.counter }}">{{ sequence.overview_paragraph }}</p>
              {% endif %}
            {% endif %}
          </div>
        </div>
    {% endfor %}
  </div>
{% endblock %}
