{% extends 'public_app/base_multi_editor.html' %}
{% load crispy_forms_tags %}
{% load activity_extras %}
{% block content %}
  {% for message in messages %}
    <div class="alert alert-success">
        <a class="close" href="#" data-dismiss="alert">×</a>
        {{ message }}
    </div>
  {% endfor %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <!-- <li class="breadcrumb-item"><a href="/">Home</a></li> -->
      <li class="breadcrumb-item"><a href="{% url 'sequence_list' %}">Sequences</a></li>
      <!-- If this is the solution view page, show link to view only, disable link on solution -->
      {% if view_name == 'sequence_detail_solution' %}
        {% if sequence.title %}<li class="breadcrumb-item"><a href="{% url 'sequence_detail' pk=sequence.pk %}">{{ sequence.title }}</a></li>{% endif %}
        <li class="breadcrumb-item active" aria-current="page">View with Solutions</li>
      {% else %}
        <li class="breadcrumb-item active" aria-current="page">{{ sequence.title }}</li>
        {% if perms.admin_app.can_add_sequence %}<li class="breadcrumb-item"><a href="{% url 'sequence_detail_solution' pk=sequence.pk %}">View with Solution</a></li>{% endif %}
      {% endif %}
      {% if perms.admin_app.can_add_sequence %}<li class="breadcrumb-item"><a href="{% url 'sequence_edit' pk=sequence.pk %}">Edit</a>{% endif %}</li>
    </ol>
  </nav>
<!-- END NAVIGATION -->

  {% if sequence.publication == '1' or perms.admin_app.can_add_sequence %}
    <div class="container">
      <div class="card">
        <h2 class="card-header">
          {{ sequence.title }} {% if perms.admin_app.can_add_sequence %}<a class="btn btn-secondary btn-sm" href="{% url 'sequence_edit' pk=sequence.pk %}">Edit</a>{% endif %}
        </h2>
        <div class="card-body">
          <blockquote class="blockquote mb-0">{{ sequence.overview_paragraph }}</blockquote>
        </div>
      </div>
    
      {% if sequence_items %}
      <div class="container">
        {% for item in sequence_items %}
        <div class="card" style="margin-bottom: 10px">
          <div class="card-body">
            <h5 class="card-title">
              {% if item.title %}
                {{ forloop.counter }}. <a href="{% url 'activity_detail' pk=item.activity_id %}">Activity: {{ item.title }}</a>
              {% else %}
                {{ forloop.counter }}. <a href="{% url 'problem_display_html' pk=item.problem_id %}">Homework Problem: {{ item.problem_title }}</a>
              {% endif %}</h5>
            <h6 class="card-subtitle mb-2 text-muted latextorender tex2jax_ignore" data-latex="{{ item.role_in_sequence }}" id="activity_role{{ forloop.counter }}">{{ item.role_in_sequence }}</h6>
            <div class="card-body latextorender tex2jax_ignore" data-latex="{% if item.overview_paragraph %}{{ item.overview_paragraph }}{% endif %}{% if item.problem_latex %}{{ item.problem_latex }}{% endif %}" id="activity{{ forloop.counter }}">{% if item.overview_paragraph %}{{ item.overview_paragraph }}{% endif %}{% if item.problem_latex %}{{ item.problem_latex }}{% endif %}</div>
          </div>
        </div>
        {% endfor %}
      </div>
      {% endif %}
    
    </div>
  {% else %}
  <div class="container">
    <div class="card">
      <h2 class="card-header">
        {{ sequence.title }}
      </h2>
      <div class="card-body">
        <blockquote class="blockquote mb-0">This Sequence is not available to the public at this time.</blockquote>
      </div>
    </div>
  {% endif %}
{% endblock %}
