<!doctype html>
{% load static %}
{% load socialaccount %}
{% load page_extras %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Literata&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'open-iconic/font/css/open-iconic-bootstrap.min.css' %}">
    <style type="text/css">
      @import "/static/css/style.css";
    </style>
    <style type="text/css" media="print">
      @import "/static/css/print.css";
    </style>
    <style type="text/css" media="screen">
      @import "/static/css/screen.css";
    </style>
    <title>{% block title %}Paradigms at Oregon State University{% endblock %}</title>
    {{ form.media }}
  </head>
  <body>
  <!-- NAVIGATION -->
    <nav class="navbar navbar-expand-md navbar-dark" style="background-color: #3366cc;">

      <a class="navbar-brand" href="/"><img src="/static/paradigms_logo.png" height="30" class="d-inline-block align-top" alt="" style="padding-right: 5px;"> Paradigms @ OSU</a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#publicNavTop" aria-controls="publicNavTop" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="publicNavTop">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <!-- <li class="nav-item">
            <a class="nav-link" href="/activities">Activities</a>
          </li> -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownActivities" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Activities</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownActivities">
              <a class="dropdown-item" href="{% url 'activity_list' %}">Classroom Activities</a>
              <a class="dropdown-item" href="{% url 'sequence_list' %}">Sequences</a>
              {% if perms.admin_app.can_edit_problem %}<a class="dropdown-item" href="{% url 'page_display' pagename='courses' %}">Courses</a>{% endif %}
              <a class="dropdown-item" href="{% url 'problem_list' %}">Homework Problems</a>{% if perms.admin_app.can_edit_problem %}
              <a class="dropdown-item" href="{% url 'list_problem_sets' %}">Problem Sets</a>{% endif %}
              <a class="dropdown-item" href="{% url 'page_display' pagename='props-and-equipment' %}">Props &amp; Equipment</a>
            </div>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownWhitepapers" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Whitepapers</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownWhitepapers">
              <!-- <a class="dropdown-item" href="{% url 'wp_list_activitytypes' %}">Activity Types</a>               -->
              {{ 'activities'|whitepaperdropdownlist }}
              {% if perms.admin_app.can_edit_problem %}
              <a class="dropdown-item" href="{% url 'wp_list_all' %}">All Pages &amp; Whitepapers</a>
              <a class="dropdown-item" href="{% url 'page_new' %}">Add Page or Whitepaper</a>
              {% endif %}
            </div>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownAbout" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">About</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownAbout">
              <a class="dropdown-item" href="{% url 'page_display' pagename='about' %}">About</a>
              <a class="dropdown-item" href="{% url 'page_display' pagename='history' %}">History</a>
              <a class="dropdown-item" target="_blank" href="https://physics.oregonstate.edu/mathbook/P20/">Study of the Paradigms</a>
            </div>
          </li>

        {% if user.is_authenticated %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownAccount" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Account</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownAccount">
              <a class="dropdown-item" href="{% url 'account_logout' %}">Log Out {{ user.username }}</a>
            </div>
          </li>
        {%  else %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownAccount" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Account</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownAccount">
              <a class="dropdown-item" href="{% url 'account_signup' %}">Sign Up</a>
              <a class="dropdown-item" href="{% url 'account_login' %}">Log In</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{% provider_login_url 'google' %}">Log In (Google)</a>
            </div>
          </li>
        {% endif %}
        </ul>

        <form class="form-inline my-2 my-lg-0" method="post" action="{% url 'HomeworkSearchView' %}">
          {% csrf_token %}
          <input class="form-control-sm mr-sm-1" type="search" name="q" id="q" placeholder="Search">
          <input type="hidden" name="search_type" value="Both">
          <button class="btn btn-sm btn-primary my-2 my-sm-0" type="submit"><span class="oi oi-magnifying-glass" title="Search" alt="Search Homework or Activities by title or topic"></span></button>
        </form>

      </div>
    </nav>

  <!-- END NAVIGATION   -->
    <div class="content container-fluid">
        <div class="row">
            <div class="col-md-12">
              {% block content %}
                <!-- <div class="row">
                  <div class="col">
                    <h3>Figure Manager</h3>
                  </div>
                </div> -->

                {% block figure_content %}
                {% endblock %}
              {% endblock %}
            </div>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <script src="{% static 'js/django-dynamic-formset/src/jquery.formset.js' %}"></script>
    <script>

        // Ari's Javascript
        
        $('.item-formset').formset({
            addText: '',
            deleteText: 'remove',
        });


        $(".delete-row").addClass("btn btn-sm btn-warning");
        $(".delete-row").append(' <span class="oi oi-arrow-right" title="Remove Activity" alt="Remove Activity from Sequence"></span>')

        // This is not working as expected with inline formset factory using a through many-to-many table
        // $('.formset_row').formset({
        //     // addText: 'add problem',
        //     deleteText: 'remove',
        //     // prefix: 'familymember_set'
        // });

    		$("#activityFilter").on("keyup", function() {
    			var value = $(this).val().toLowerCase();
    		    $("#availableActivityList li").filter(function() {
    		    	$(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    		    });
    		});

    		$("#problemFilter").on("keyup", function() {
    			var value = $(this).val().toLowerCase();
    		    $("#availableProblemList li").filter(function() {
    		    	$(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    		    });
    		});

        // Sort every select drop-down alphabetically
        // // id_problemsetitems_set-0-problem
        var formsetSelects = document.querySelectorAll("[id^=id_problemsetitems_set-]");
        formsetSelects.forEach(function(editElement) {
          // Limit search to the ids that end in -problem
          var thisID = editElement.id
          if( thisID.endsWith("problem") ) {
            // alert(thisID)
            var sel = $('#' + thisID);
            var selected = sel.val(); // cache selected value, before reordering
            var opts_list = sel.find('option');
            opts_list.sort(function(a, b) { return $(a).text() > $(b).text() ? 1 : -1; });
            sel.html('').append(opts_list);
            sel.val(selected); // set cached selected value
          }
        })


  // select default item after sorting (first item)
  // $('select').get(0).selectedIndex = 0;
    </script>

    <script src="/static/ace/src-min/ace.js" type="text/javascript" charset="utf-8"></script>
    {% block javascript %}
    {% endblock %}
    <script type="module">
    // Use ES module import syntax to import functionality from the module
    // that we have compiled.
    //
    // Note that the `default` import is an initialization function which
    // will "boot" the module and make it ready to use. Currently browsers
    // don't support natively imported WebAssembly as an ES module, but
    // eventually the manual initialization won't be required!
    import init, { html_with_solution, html_omit_solution } from
    '/static/public_app/js/latex_snippet.js';

    async function renderLatex(renderElement) {
        renderElement.classList.remove("tex2jax_ignore")

        let html;
        if (window.location.href.includes('/activities/solution/') || window.location.href.includes('/sequences/solution/') || window.location.href.includes('/problem/solution/') || window.location.href.includes('/problem_sets/solution/')) {
            html = html_with_solution(renderElement.dataset.latex);
        } else {
            html = html_omit_solution(renderElement.dataset.latex);
        }
        html = html.replace(/<a href="(\/[^"]+)">(\/[^<]+)<\/a>/g, function(match, url, title, offset, string) {
            if (url != title) {
                return match;
            }
            return ['<a href="', url, '"><iframe src="', url, '/title" onload="this.before(this.contentDocument.body.innerHTML);this.remove()"></iframe></a>'].join('');
        });
        renderElement.innerHTML = html;
        // Apply the bootstrap classes to semantic elements.
        renderElement.querySelectorAll('img').forEach(function(i) {
            i.classList.add('img-fluid');
        });
        renderElement.querySelectorAll('figure').forEach(function(e) {
            e.classList.add('figure');
        });
        renderElement.querySelectorAll('figure.wrapfigure').forEach(function(e) {
            e.classList.add('float-sm-right');
            e.classList.add('mw-100');
        });
        renderElement.querySelectorAll('figure > img').forEach(function(e) {
            e.classList.add('figure-img');
        });
        renderElement.querySelectorAll('figcaption').forEach(function(e) {
            e.classList.add('figure-caption');
        });
        MathJax.Hub.Queue(
            function () {
                if (MathJax.InputJax.TeX.resetEquationNumbers) {
                    MathJax.InputJax.TeX.resetEquationNumbers();
                }
            },
            // ["resetEquationNumbers",MathJax.InputJax.TeX],
            ["Typeset",MathJax.Hub,renderElement]
        );
    }
    function hasClass(element, className) {
      return (' ' + element.className + ' ').indexOf(' ' + className+ ' ') > -1;
    }
    async function run() {
        // First up we need to actually load the wasm file, so we use the
        // default export to inform it where the wasm file is located on the
        // server, and then we wait on the returned promise to wait for the
        // wasm to be loaded.
        // It may look like this: `await init('./pkg/without_a_bundler_bg.wasm');`,
        // but there is also a handy default inside `init` function, which uses
        // `import.meta` to locate the wasm file relatively to js file
        //
        // Note that instead of a string here you can also pass in an instance
        // of `WebAssembly.Module` which allows you to compile your own module.
        // Also note that the promise, when resolved, yields the wasm module's
        // exports which is the same as importing the `*_bg` module in other
        // modes
        await init();

        document.querySelectorAll(".latexarea").forEach(function(editElement) {
            // create ace editor
            var aceDiv = document.createElement( 'div' );
            editElement.parentNode.insertBefore( aceDiv, editElement );

            var editor = ace.edit(aceDiv, {
                mode: "ace/mode/latex",
                // autoScrollEditorIntoView: true,
                maxLines: 4000,
                minLines: 15,
                wrap: true,
            });
            editor.renderer.setShowGutter(false);
            editor.session.setValue(editElement.value)
            editElement.style.display = "none"
            // find the parent form and add submit event listener.
            // The idea here is to update the editElement value right
            // before submitting.
            var form = editElement
            while (form && form.localName != "form") form = form.parentNode
            form.addEventListener("submit", function() {
                // update value of textarea to match value in ace
                editElement.value = editor.getValue()
            }, true)

            // And afterwards we can use all the functionality defined in wasm.
            var Preview = {
                delay: 15,         // delay after keystroke before updating
                preview: null,     // filled in by Init below
                buffer: null,      // filled in by Init below
                timeout: null,     // store setTimout id
                mjRunning: false,  // true when MathJax is processing
                mjPending: false,  // true when a typeset has been queued
                oldtext: null,     // used to check if an update is needed
                math_html: null,   // used to store the new html we want

                //
                //  Create the preview and buffer DIV's
                //
                Init: function () {
                    // Create a buffer and preview div
                    this.preview = document.createElement( 'div' );
                    this.buffer = document.createElement( 'div' );
                    // Assign the semi-generic "preview" class to each
                    this.buffer.classList.add('preview');
                    this.preview.classList.add('preview');
                    // Assign devault visibility to hidden.
                    this.preview.visibility = "hidden";
                    this.buffer.visibility = "hidden";
                    // Insert the divs into the existing structure (needs fine-tuning)
                    // editElement.parentNode.insertBefore( this.preview, editElement );
                    editElement.parentNode.parentNode.lastElementChild.appendChild(this.preview)
                    // editElement.parentNode.insertBefore( this.buffer, editElement );
                    editElement.parentNode.parentNode.lastElementChild.appendChild(this.buffer)
                },

                //
                //  Switch the buffer and preview, and display the right one.
                //  (We use visibility:hidden rather than display:none since
                //  the results of running MathJax are more accurate that way.)
                //
                SwapBuffers: function () {
                    var buffer = this.preview, preview = this.buffer;
                    this.buffer = buffer; this.preview = preview;
                    buffer.style.visibility = "hidden"; //
                    buffer.style.position = "absolute";
                    // preview.style.position = "";
                    preview.style.visibility = "";
                },

                //
                //  Creates the preview and runs MathJax on it.
                //  If MathJax is already trying to render the code, return
                //  If the text hasn't changed, return
                //  Otherwise, indicate that MathJax is running, and start the
                //    typesetting.  After it is done, call PreviewDone.
                //
                CreatePreview: function () {
                    Preview.timeout = null;
                    if (this.mjPending) return;
                    var text = this.math_html;
                    if (text === this.oldtext) return;
                    if (this.mjRunning) {
                        this.mjPending = true;
                        MathJax.Hub.Queue(["CreatePreview",this]);
                    } else {
                        this.buffer.innerHTML = this.oldtext = text;
                        this.mjRunning = true;
                        MathJax.Hub.Queue(
                            function () {
                                if (MathJax.InputJax.TeX.resetEquationNumbers) {
                                    MathJax.InputJax.TeX.resetEquationNumbers();
                                }
                            },
                            // ["resetEquationNumbers",MathJax.InputJax.TeX],
                            ["Typeset",MathJax.Hub,this.buffer],
                          ["PreviewDone",this]
                        );
                    }
                    // Apply the bootstrap classs to elements in the
                    // buffer.  See latex.py for code that really
                    // ought to match.
                    this.buffer.querySelectorAll("img")
                        .forEach(function (elem) {
                            elem.className += " img-fluid";
                            if (!elem.getAttribute('src').includes("/")) {
                                elem.src = "/media/figures/" + elem.getAttribute('src');
                            }
                        });
                    this.buffer.querySelectorAll("figure")
                        .forEach(function (elem) {
                            elem.className += " figure";
                            if (hasClass(elem, "wrapfigure")) {
                                elem.className += ' float-sm-right';
                                elem.className += ' mw-100';
                            }
                            e.querySelectorAll("img")
                                .forEach(function(i) {
                                    i.className += " figure-img";
                                });
                        });
                    this.buffer.querySelectorAll("figcaption")
                        .forEach(function (elem) {
                            elem.className += " figure-caption";
                        });
                },

                //
                //  Indicate that MathJax is no longer running,
                //  and swap the buffers to show the results.
                //
                PreviewDone: function () {
                    this.mjRunning = this.mjPending = false;
                    this.SwapBuffers();
                }
            };

            //
            //  Cache a callback to the CreatePreview action
            //
            Preview.Init();
            Preview.callback = MathJax.Callback(["CreatePreview",Preview]);
            // make sure it can run more than once
            Preview.callback.autoReset = true;
            var my_timeout = null;
            function update_preview() {
                Preview.math_html = html_with_solution(editor.getValue());
                Preview.CreatePreview();

            }
            update_preview(editor.getValue());


            editor.session.on('change', function(delta) {
                if (my_timeout) {
                    clearTimeout(my_timeout);
                }
                my_timeout = setTimeout(update_preview, 150);
            });

        });


    }

    run();

    </script>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.5/mode-latex.js" type="text/javascript" charset="utf-8"></script>
    <!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script> -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML"></script>
    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({
        "fast-preview": {
            disabled: true
        },
        TeX: { equationNumbers: { autoNumber: "AMS" } },
        "CommonHTML": { availableFonts: ["TeX"] },
        // enable inline equation rendering
        tex2jax: {
          inlineMath: [ ['$','$'], ["\\(","\\)"] ],
          processEscapes: true,
          ignoreClass: "error",
        }
      });
      MathJax.Hub.Register.StartupHook("TeX Jax Ready",function () {
        MathJax.Hub.Insert(MathJax.InputJax.TeX.Definitions.macros,{
          cancel: ["Extension","cancel"],
          bcancel: ["Extension","cancel"],
          xcancel: ["Extension","cancel"],
          cancelto: ["Extension","cancel"]
        });
        TeX: {
          equationNumbers: { autoNumber: "AMS" }
        };
      });
    </script>
    <script type="text/javascript" charset="utf-8">
      // For some reason P tags are being wrapped around the contents of li within homework item iterations. Remove them.
      // $(".homework > ol > li").find("p:first").css("background-color", "yellow");
      // $(".homework > ol > li").find("p:first").contents().unwrap();

      // Problem Set Display
      $(".homework > .card-body > ol > li > p").css("background-color", "pink");
      $(".homework > .card-body > ol > li > p").contents().unwrap();

      $(".homework  ol > li > blockquote > ol > li > p").contents().unwrap();

      // $(".homework > .card-body > ol > li").find("p:first").contents().unwrap();
      // $(".homework > .card-body > ol > li").not("blockquote").find("p:first").contents().unwrap();
  </script>

  </body>
</html>
