{% extends 'public_app/base_multi_editor.html' %}
{% load problem_extras %}
{% block content %}
  <div class="container">
    <div class="page-header">
      <h1>Homework Problems</h1>
    </div>
  </div>

  <div class="container">
  <!-- <p>This is the templates/public_app/problem_list.html file.</p> -->
    {% if perms.admin_app.can_add_problem %}
    <p><a class="btn btn-sm btn-success" href="{% url 'problem_new' %}" class="top-menu"><span class="oi oi-plus" title="Add new problem button" alt="Create a new homework problem."></span> Add Problem</a></p>
    {% endif %}
    <div class="row">
    {% for problem in problems %}
        <div class="col-sm-4">
          <div class="card" style="margin-bottom: 10px">            
            <div class="card-body">
              <h5><a href="{% url 'problem_display_html' pk=problem.pk %}">{{ problem.problem_title }}</a></h5>
              {{ problem.topics|problemtopicbuttons }}
            </div>
          </div>
        </div>
        {% if forloop.last %}
          </div>
        {% else %}
          {% if forloop.counter|divisibleby:"3" %}
            </div><div class="row">
          {% endif %}
        {% endif %}
    {% empty %}
        <div class="container"><h4>No problems have been published at this time.</h4></div>
    {% endfor %}
    </div><!-- end row iteration of problems with formatting for cards -->
  </div>
{% endblock %}
