{% extends 'studentview/base.html' %}
{% load latex %}
{% block title %}{{ course.catalog_name }}{% endblock %}
{% block content %}
<nav aria-label="breadcrumb" class="noprint">
    <ol class="breadcrumb">
        <!-- <li class="breadcrumb-item"><a href="/">Home</a></li> -->
        <li class="breadcrumb-item"><a href="{% url 'sv_home'%}">Courses</a></li>
        {% if view == 'syllabus' %}
        <li class="breadcrumb-item"><a
                href="{% url 'sv_schedule' course.number taught.slug %}">{{ taught.year }}</a></li>
        <li class="breadcrumb-item active" aria-current="page">Syllabus</li>
        {% else %}
        <li class="breadcrumb-item active" aria-current="page">{{ taught.year }}</li>
        <li class="breadcrumb-item"><a
                href="{% url 'sv_syllabus' course.number taught.slug %}">Syllabus</a></li>
        </li>
        {% endif %}
    </ol>
</nav>

<div class="container">
    <div class="card overflow-auto" style="margin-bottom: 10px;">
        <h2 class="card-header">
            {{ course.short_name }} {{ day.problemsetname }} due {{ day.day }}, {{taught.year}}
        </h2>
        <div class="card-body">
        </div>
        <ol>
            {% for p in day.problemset_data %}
            <li class="homework"><strong>{{ p.problem.problem_title }}</strong> {% if p.instructions %}<em>{{ p.instructions }}</em> {% endif %}{% if view == 'solution' %}{{ p.problem.problem_latex | latex_with_solution }}{% else %}{{ p.problem.problem_latex | latex_omit_solution }}{% endif %}</li>
            {% endfor %}
        </ol>
    </div>
</div>
{% endblock %}