{% extends 'studentview/base.html' %}
{% load latex %}
{% block title %}{{ course.catalog_name }}{% endblock %}
{% block content %}
<nav aria-label="breadcrumb" class="noprint">
    <ol class="breadcrumb">
        <!-- <li class="breadcrumb-item"><a href="/">Home</a></li> -->
        <li class="breadcrumb-item hide-in-iframe"><a href="{% url 'sv_home'%}">Courses</a></li>
        {% if view == 'syllabus' %}
        <li class="breadcrumb-item"><a href="{% url 'sv_schedule' course.number taught.slug %}">{{ taught.year }} Schedule</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Syllabus</li>
        {% else %}
        <li class="breadcrumb-item active" aria-current="page">{{ taught.year }}
            Schedule</li>
        <li class="breadcrumb-item"><a href="{% url 'sv_syllabus' course.number taught.slug %}">Syllabus</a></li>
        {% endif %}
    </ol>
</nav>

<div class="card overflow-auto" style="margin-bottom: 10px;">
    <h2 class="card-header hide-in-iframe">
        {% if view == 'syllabus' %}Syllabus for{% endif %} {{taught.year}} {{ course.short_name }}
    </h2>
    {% if view == 'syllabus' %}
    <div class="card-body">
        <dl>
            <dt>Course name:</dt>
            <dd>{{ course.catalog_name }}</dd>
            <dt>Course number:</dt>
            <dd>{{ course.pretty_number }}</dd>
            <dt>Instructor:</dt>
            <dd>{{ taught.instructor }}</dd>
            {% if taught.office_hours %}
            <dt>Office hours:</dt>
            <dd>{{ taught.office_hours | latex_omit_solution }}</dd>
            {% endif %}
            <dt>Course credits:</dt>
            <dd>{{course.credits}}</dd>
            <dt>Prerequisites:</dt>
            <dd>{% if course.prereq %}{{ course.prereq }}{% else %}none{% endif %}</dd>
            <dt>Course description:</dt>
            <dd>{{ course.description }}</dd>
            {% if course.learning_resources %}
            <dt>Learning resources:</dt>
            <dd>{{ course.learning_resources | latex_omit_solution }}</dd>{% endif %}
            <dt>Learning outcomes:</dt>
            <dd>
                <ul class="checkboxes">
                    {% for lo in learning_outcomes %}
                    <li>
                        {% if lo.my_activities or lo.my_problems %}
                        <details>
                            <summary>{{ lo.number}}) {{ lo.outcome }}</summary>
                            <ul>
                                {% for activity in lo.my_activities %}
                                <li>Taught: {{ activity }}</li>
                                {% endfor %}
                                {% for problem in lo.my_problems %}
                                <li>Assessed: {{ problem }}</li>
                                {% endfor %}
                            </ul>
                        </details>
                        {% else %}
                        {{ lo.number}}) {{ lo.outcome }}
                        {% endif %}
                    </li>
                    {% endfor %}
                </ul>
            </dd>
            <dt>Course content:</dt>
            <dd>See <a href="{% url 'sv_schedule' course.number taught.slug %}">schedule</a>.</dd>
            <dt>Evaluation of student performance:</dt>
            <dd>{{ taught.evaluation | latex_omit_solution }}</dd>
            <dt>Statement regarding students with disabilities:</dt>
            <dd>Accommodations for students with disabilities are determined and approved
                by Disability Access Services (DAS). If you, as a student, believe you are
                eligible for accommodations but have not obtained approval please contact
                DAS immediately at 541-737-4098 or at
                <a href="http://ds.oregonstate.edu">http://ds.oregonstate.edu</a>. DAS notifies
                students and faculty members of approved academic accommodations and
                coordinates implementation of those accommodations. While not required,
                students and faculty members are encouraged to discuss details of the
                implementation of individual accommodations.</dd>
            <dt>Expectations of student conduct:</dt>
            <dd>Students are expected to comply with the University code of
               conduct, available at <a
               href="https://beav.es/codeofconduct">https://beav.es/codeofconduct</a>.</dd>
            <dt>Reach out for success:</dt>
            <dd>University students encounter setbacks from time to time. If you encounter
                difficulties and need assistance, it’s important to reach out. Consider
                discussing the situation with an instructor or academic advisor. Learn
                about resources that assist with wellness and academic success at
                <a href="https://counseling.oregonstate.edu/reach-out-success">oregonstate.edu/ReachOut</a>.
                If you are in immediate crisis, please contact
                the Crisis Text Line by texting OREGON to 741-741 or call the National
                Suicide Prevention Lifeline at 1-800-273-TALK (8255)</dd>
        </dl>
    </div>
    {% endif %}
</div>

{% if view == 'schedule' %}
<div class="schedule">
    <h5 class="thisday">Day</h5>
    {% if taught.has_topics %}<h5 class="topic">Topic</h5>{% endif %}
    {% if taught.has_activities %}<h5 class="activities">In class today</h5>{% endif %}
    {% if taught.has_resources %}<h5 class="resources">Resources</h5>{% endif %}
    <h5 class="due">Homework</h5>
    <hr />

    {% for day in days %}
    <div class="thisday">{{day.day}}</div>
    {% if day.topic %}
    <div class="topic">{{day.topic | latex_omit_solution  }}</div>{% endif %}
    {% if day.activities.exists %}
    <ul class="activities">
        {% for da in day.dayactivity_set.all %}
        <li>
            {% if da.show_handout and da.activity.has_handout %}
            <a href="{% url 'sv_handout' da.pk %}">{{da.activity}}</a>
            <a href="{% url 'sv_handout_pdf' da.pk %}">(PDF)</a>
            {% else %}
            {{ da.activity }}
            {% endif %}
            {% if da.show_solution and da.activity.has_solution %}
            <a href="{% url 'sv_activity_solution' da.pk %}">(solution)</a>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
    {% endif %}
    {% if day.resources %}
    <div class="resources">{{ day.resources | latex_omit_solution }}</div>{% endif %}
    {% if day.problemset.exists %}
    {% if day.show_problemset %}
    <ul class="due">
        <li>
            <h5>
                <a href="{% url 'sv_problemset' taught.course.number taught.slug day.problemset_slug %}">{{day.problemsetname | latex_omit_solution }}
                    due</a>
                <a href="{% url 'sv_problemset_pdf' taught.course.number taught.slug day.problemset_slug %}">(PDF)</a>
                {% if day.show_solution %}
                <br/>
                <a href="{% url 'sv_solution' taught.course.number taught.slug day.problemset_slug %}">Solution</a>
                <a href="{% url 'sv_solution_pdf' taught.course.number taught.slug day.problemset_slug %}">(PDF)</a>
                {% endif %}
            </h5>
        </li>
    </ul>
    {% endif %}
    {% endif %}
    <hr />
    {% endfor %}
</div>
{% endif %}
{% endblock %}