@media print {
    .noprint {
        visibility: hidden;
        display: none;
    }
    nav {
      display: none;
    }
    blockquote, pre, div, .card-body, .card-header, .card {
        border: none;
        background-color: rgba(0,0,0,0);
    }
    .card-body {
        padding-bottom: 0.25rem;
        padding-top: 0.25rem;
    }
    body {
        font-family: "Times New Roman", Times, serif;
    }
}
* { overflow: visible !important; }
