.preview h5 {
  font-size: 1em;
  font-color: #000;
}

.ace_editor {
  width: 100%;
}

aside {
  float: right;
  width: 100%;
}

.ace_content {
  color: #5C5C5C;
}

/* The preview window */

.preview {
  background-color: #FFF;
  /* margin-left: 50%; */
  width: 100%;
  position: absolute;
  color: #5C5C5C;
  border: 1px solid #ced4da;
  padding: 0.5em;
}

div.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

/* .solution {
      margin-bottom: 0.5em;
      color: #000;
      border: 1px solid #ced4da;
      padding: 1em;

  } */

.solution:before {
  content: "Solution";
  font-size: 1.25rem;
  font-weight: 500;
}

.guide:before {
  content: "Instructor's guide";
  color: #e66;
  font-size: 1.25rem;
  font-weight: 500;
}

.handout:before {
  content: "Student handout";
  color: #66e;
  font-size: 1.25rem;
  font-weight: 500;
}

.solution, .guide, .handout {
  margin: 0 auto;
  margin-top: 0.5em;
  padding: 0em 0em 0.5em 1.0em;
  border-left: 5px solid #E6E6E6;
  color: #555;
  font-size: 12pt;
  line-height: 1.4;
  font-family: 'PT Serif', Cambria, 'Hoefler Text', Utopia, 'Liberation Serif', 'Nimbus Roman No9 L Regular', Times, 'Times New Roman', serif;
}

.guide {
  border-left: 5px solid #fcc;
}

.handout {
  border-left: 5px solid #ccf;
}

/* The following is for footnotes.  Not sure how important it really is... */

.solution aside, .guide aside, .handout aside {
  margin-top: .5em;
  padding: 0;
  color: #777;
  font-size: 12pt;
  text-align: right;
  font-style: italic;
}

@element '.solution' and (min-width: 300px), @element '.guide' and (min-width: 300px) {
  .solution {
    padding: 1em 20% 1em 1em;
  }
  .solution p {
    font-size: 14pt;
  }
}

.error {
  background-color: #ff6666;
}

.warning {
  background-color: #ffff66;
}

#id_problem_latex {
  width: inherit !important;
}

ol {
  list-style-type: decimal;
}

ol ol {
  list-style-type: lower-latin;
}

dl {
  display: grid;
  grid-template-columns: fit-content(100%)  fit-content(100%);
  gap: 0.5em;
}

dt {
  grid-column-start: 1;
  text-indent: -1em;
  padding-left: 1em;
}

dd {
  grid-column-start: 2;
}

dd .checkbox {
  display: inline-block;
}

@media (max-width: 50rem) {
  dd {
    grid-column-start: 1;
    padding-left: 1em;
  }
}

.homework ul {
  list-style: outside;
}

ul.checkboxes {
  list-style: none;
  padding-left: 0;
}

.homework ul>li, .homework blockquote p {
  text-indent: 0em;
  margin-left: 0em;
  margin-bottom: .75em;
}

/* The following style may only be necessary for public_app and not needed site-wide. Test. */

h1, h2, h3 {
  font-family: 'Literata', serif;
}

/* For the Pages App */

.page_list {
  list-style-type: none;
}
.fadeout {
  height: 15em;
  height: fit-content(15em);
  overflow: hidden;
  -webkit-mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
  mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
}
.problemsonly .fadeout {
  height: auto;
  max-height: 15em;
}

.schedule {
  display: grid;
  grid-template-columns: [day] fit-content(5em) [topic activities resources due] fit-content(100%) [end];
  grid-auto-rows: max-content;
  grid-auto-flow: row;
  grid-gap: 0rem 0.5rem;
}
.outside-iframe .schedule {
  padding: 0 1em 0 1em;
}
.schedule hr {
  display: block;
  content: "";
  grid-column: 1/-1;
  grid-row: auto / span 1;
  background-color: #ccc;
  height: 2px;
  width: 100%;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.schedule ul {
  list-style-type: none;
  padding-left: 0em;
}
.schedule ul li {
  /* text-indent: -2em;
  padding-left: 2em; */
}
.thisday {
  grid-column-start: day ;
  grid-row: auto / span 1;
  font-weight: bold;
}
.topic {
  grid-column-start: topic;
  grid-row: auto / span 1;
  /* background-color: #dfd; */
}
.activities {
  grid-column-start: activities ;
  grid-row: auto / span 1;
  /* background-color: #fdd; */
}
.resources:before {
  content: "Resources: ";
  font-weight: bold;
}
.resources {
  grid-column-start: resources ;
  grid-row: auto / span 1;
  /* background-color: #ffd; */
}
.activities input, .due input {
  max-width: 12em;
}
.due {
  grid-column-start: due ;
  grid-row: auto / span 1;
  /* background-color: #fdf; */
}
@media (min-width: 30rem) {
  .schedule {
    grid-template-columns: [day] fit-content(5em) [topic activities] fit-content(100%) [resources due] fit-content(100%) [end];
  }
}
@media (min-width: 50rem) {
  .schedule {
    grid-template-columns: [day] fit-content(10em) [topic activities] fit-content(100%) [resources] fit-content(100%) [due] fit-content(20em) [end];
  }
}
@media (min-width: 75rem) {
  .schedule {
    grid-template-columns: [day] fit-content(10em) [topic] auto [activities] auto [resources] auto [due] auto [end];
  }
  .resources:before {
    content: none;
  }
}

.inside-iframe .hide-in-iframe {
  display: none;
}

.inside-iframe body, .inside-iframe .pages.show.home .show-content {
  padding: 0;
}
.searchresults {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30em, 1fr));
  grid-auto-flow: row;
  grid-gap: 0rem 0.5rem;
}
.beast {
  float: right;
  clear: right;
  margin: 0;
}
.highlighted {
  font-weight: bolder;
}
.material-icons {
  font-size: unset;
  line-height: unset;
}