{% extends 'public_app/base_multi_editor.html' %}
{% load crispy_forms_tags %}
{% block content %}
    {% for message in messages %}
      <div class="alert alert-success">
          <a class="close" href="#" data-dismiss="alert">×</a>
          {{ message }}
      </div>
    {% endfor %}
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <!-- <li class="breadcrumb-item"><a href="/">Home</a></li> -->
        <li class="breadcrumb-item"><a href="{% url 'list_problem_sets' %}">Problem Sets</a></li>
        <li class="breadcrumb-item"><a href="{% url 'problem_set_details' problem_set_id=problem_set.pk%}">{{ problem_set.title }}</a></li>
        {% if perms.admin_app.can_add_sequence %}
        <li class="breadcrumb-item"><a href="{% url 'problem_set_details_solution' problem_set_id=problem_set.pk%}">View with Solution</a></li>
        <li class="breadcrumb-item"><a href="{% url 'edit_problem_set' problem_set_id=problem_set.pk%}">Edit</a></li>
        {% endif %}
      </ol>
    </nav>


    <div class="container">
      <div class="card">
        <h2 class="card-header">
          {{ problem_set.title }} {% if perms.admin_app.can_add_sequence %} <a class="btn btn-secondary btn-sm" href="{% url 'edit_problem_set' problem_set_id=problem_set.pk %}">Edit</a>{% endif %}
        </h2>
        <div class="card-body">
          <blockquote class="blockquote mb-0">{{ problem_set.instructions }}</blockquote>
        </div>

      </div><!-- End Card-->
      
      <div class="container">
      {% for item in problem_set_problems %}
      <div class="card" style="margin-bottom: 10px">
        <div class="card-body">
          <h5 class="card-title">{{ forloop.counter }}. <a href="{% url 'problem_display_html_solution' pk=item.problem.pk %}">{{ item.problem.problem_title }}</a> <a class="btn btn-secondary btn-sm" href="{% url 'problem_edit_preview' pk=item.problem.pk %}">Edit</a></h5>
          <h6 class="card-subtitle mb-2 text-muted latextorender tex2jax_ignore" data-latex="{{ item.item_instructions }}" id="problem_instructions{{ forloop.counter }}"></h6>
          <div class="card-body latextorender tex2jax_ignore" data-latex="{{ item.problem.problem_latex }}" id="problem_latex{{forloop.counter}}"></div>
        </div>
      </div>
      {% endfor %}

    </div> <!-- End Container -->

  </div> <!-- End Container -->
{% endblock %}
