{% extends 'public_app/base_multi_editor.html' %}
{% block content %}
  <div class="container">
    <div class="page-header">
      <h1>Problem Sets</h1>
    </div>
  </div>

  <div class="container">
  <!-- <p>This is the templates/public_app/problem_list.html file.</p> -->
  {% if perms.admin_app.can_add_sequence %}
    <p><a class="btn btn-sm btn-success" href="{% url 'problem_set_add' %}" class="top-menu"><span class="oi oi-plus" title="Add new problem_set button" alt="Create a new problem set."></span> Add Problem Set </a></p>
  {% endif %}
    {% for problem_set in problem_set_list %}
        <div class="card overflow-auto" style="margin-bottom: 10px; max-height: 275px;">
          <div class="card-body">
            <h5><a href="{% url 'problem_set_details' problem_set_id=problem_set.pk %}">{{ problem_set.title }}</a></h5>            
            {% if problem_set.instructions %}
              {% if forloop.counter == 1 %}
                <p class="latextorender tex2jax_ignore" data-latex="{{ problem_set.instructions }}" id="problem_set_instructions{{ forloop.counter }}">{{ problem_set.instructions }}</p>
              {% else %}
                <p class="overflow-auto latextorender tex2jax_ignore" data-latex="{{ problem_set.instructions }}" id="problem_set_instructions{{ forloop.counter }}">{{ problem_set.instructions }}</p>
              {% endif %}
            {% endif %}
          </div>
        </div>
    {% endfor %}
  </div>
{% endblock %}
