{% extends 'public_app/base_multi_editor.html' %}
{% block title %}{{ page_title }}{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
  {% for message in messages %}
    <div class="alert alert-success">
        <a class="close" href="#" data-dismiss="alert">×</a>
        {{ message }}
    </div>
  {% endfor %}
  {% if perms.admin_app.can_add_problem_set %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <!-- <li class="breadcrumb-item"><a href="/">Home</a></li> -->
      <li class="breadcrumb-item"><a href="{% url 'list_problem_sets' %}">Problem Sets</a></li>
      <li class="breadcrumb-item"><a href="{% url 'problem_set_details' problem_set_id=problem_set_id %}">{{ problem_set.title }}</a></li>
      <li class="breadcrumb-item"><a href="{% url 'problem_set_details_solution' problem_set_id=problem_set_id%}">View with Solution</a></li>
      <li class="breadcrumb-item"><a href="{% url 'edit_problem_set' problem_set_id=problem_set_id %}">Edit</a></li>
    </ol>
  </nav>
  <form method="POST" class="problem-set-form">
    {% csrf_token %}
    {{ problem_group_form|crispy }}

    <button type="submit" class="save btn btn-sm btn-success" style="margin-bottom: 15px;"><span class="oi oi-file" title="Save changes button." alt="Save changes to this homework set."></span> Save Problem Set Changes</button>

    <a href="{% url 'output_problem_set_pdf' problem_set_id=problem_set_id %}" class="btn btn-sm btn-secondary" style="vertical-align: top;"><span class="oi oi-document" title="Create Problem Set PDFs." alt="Create Problem Set PDFs."></span> Create Problem Set PDFs (Takes 10+ Seconds. Save First.)</a>
    <br>PDF generation is in testing. Generated PDFs will be available when viewing the problem set. Feedback welcome.
    <hr>

    <h4>Problems</h4>
    Add by problem id: <input type="text" id="bulk_item_list" maxlength="1024" name="bulk_item_list"> (List of Problem IDs: 7,9,41,2,3,etc..)

    <div class="row">
      <div class="col">
        <h3>Problem Set Content and Order</h3>
        {{ item_formset.management_form }}
        {% for form in item_formset.forms %}
        <div class="item-formset" style="margin-bottom: 2em;">
            <h5>{{ item_title_dict|get_item:forloop.counter0 }}</h5>
            {{ form|crispy }}
            <!-- {% if item.activity.value %}{{ item.activity.value }}{% endif %}{% if item.problem.value %}{{ item.problem.value }}{% endif %} -->
            <hr>
        </div>


        {% endfor %}


        <button type="submit" class="save btn btn-sm btn-success" style="margin-bottom: 15px;"><span class="oi oi-file" title="Save changes button." alt="Save changes to this homework set."></span> Save Problem Set Changes</button>
      </div>
    </form>

  <!-- COLUMN OF AVAILABLE PROBLEMS -->
  <div class="col">
    <div id="accordion">
        <div class="card">
          <div class="card-header" id="headingProblem">
            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseProblem" aria-expanded="true" aria-controls="collapseProblem">
              <h5 class="mb-0">Homework Problems</h5>
            </button>
            <input id="problemFilter" type="text" placeholder="Search..">
          </div>
          <div id="collapseProblem" class="collapse show" aria-labelledby="headingProblem" data-parent="#accordion">
            <div class="card-body">
              <!-- Homework Problems -->
              <div class="row overflow-auto" style="max-height: 400px">
                <!-- Available Problems -->
                <div class="col">
                  {% if available_problems.count %}
                    <ul class="list-group list-group-flush" id="availableProblemList">

                    {% for problem in available_problems %}
                      <li class="list-group-item">
                        <form action="{% url 'associate_problem_to_set' problem_set.id problem.id %}" method="post">
                          {% csrf_token %}
                          <button type="submit" class="save btn btn-sm btn-success"><span class="oi oi-arrow-left" title="Associate Problem Button." alt="Associate this problem with this sequence."></span>Add </button> {{ problem.problem_title }}
                        </form>
                      </li>
                    {% endfor %}
                    </ul>
                  {% else %}
                    <h5>{{problem.name}} Already Has All Problems Available</h5>
                  {% endif %}
                </div>
              </div>
              <!-- End Homework Problems -->
            </div><!-- End Card body -->
          </div><!-- End -->
        </div><!-- End Card -->
      </div><!-- End Accordion -->
    </div>
  <!-- END COLUMN OF AVAILABLE PROBLEMS -->
























  {% else %}
  <p>No permission to add/edit Problem Sets.</p>
  {% endif %}
{% endblock %}
