{% extends 'figures.html' %}
{% block content %}
  <h1 class="page-header">
    Figures
    <small>/ {% block title %}{% endblock %}</small>
  </h1>
  <div class="row">
    <div class="col-md-3">      
      <div class="row">
        <div class="col">
          <form method="post" action="{% url 'figures:delete_all_figures' %}">
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ request.path }}">
            <button type="submit" class="btn btn-danger pull-right">
              <span class="glyphicon glyphicon-trash"></span> Delete Allasdf f Figures
            </button>
          </form>
        </div>
        <div class="col">
          <form method="post" action="{% url 'figures:delete_figures_for_problem' problem_id=thisProblemID %}">
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ request.path }}">
            <button type="submit" class="btn btn-warning pull-right">
              <span class="glyphicon glyphicon-trash"></span> Delete Figures For This Problem
            </button>
          </form>
        </div>
        <div class="col">
          <a class="btn btn-success" href="{% url 'problem_edit_preview' pk=thisProblemID %}">Return to Problem</a>
        </div>
      </div>
      <div class="col-md-9">
        {% block figure_content %}
        {% endblock %}
      </div>
    </div>
  </div>
{% endblock %}
