<!doctype html>
{% load static %}
<html>
  <head>
    <meta charset="utf-8">
    <!-- <link href="invoice.css" media="print" rel="stylesheet"> -->
    <title>{% block title %}Problem Set Title{% endblock %}</title>
    <meta name="description" content="Problem Set PDF">
    <meta name="author" content="Oregon State University Physics">
  
    <style type="text/css" media="screen">
      @import "/static/css/wkhtmltopdf.css";
    </style>

    <script src="/static/ace/src-min/ace.js" type="text/javascript" charset="utf-8"></script>
    {% block javascript %}
    {% endblock %}
    <script type="module">
    // Use ES module import syntax to import functionality from the module
    // that we have compiled.
    //
    // Note that the `default` import is an initialization function which
    // will "boot" the module and make it ready to use. Currently browsers
    // don't support natively imported WebAssembly as an ES module, but
    // eventually the manual initialization won't be required!
    import init, { html_with_solution, html_omit_solution } from
    '/static/public_app/js/latex_snippet.js';

    async function renderLatex(renderElement) {
        renderElement.classList.remove("tex2jax_ignore")

        let html;
        if (window.location.href.includes('/activities/solution/') || window.location.href.includes('/sequences/solution/') || window.location.href.includes('/problem/solution/') || window.location.href.includes('/problem_sets/solution/')) {
            html = html_with_solution(renderElement.dataset.latex);
        } else {
            html = html_omit_solution(renderElement.dataset.latex);
        }
        html = html.replace(/<a href="(\/[^"]+)">(\/[^<]+)<\/a>/g, function(match, url, title, offset, string) {
            if (url != title) {
                return match;
            }
            return ['<a href="', url, '"><iframe src="', url, '/title" onload="this.before(this.contentDocument.body.innerHTML);this.remove()"></iframe></a>'].join('');
        });
        renderElement.innerHTML = html;
        // Apply the bootstrap classes to semantic elements.
        renderElement.querySelectorAll('img').forEach(function(i) {
            i.classList.add('img-fluid');
        });
        renderElement.querySelectorAll('figure').forEach(function(e) {
            e.classList.add('figure');
        });
        renderElement.querySelectorAll('figure.wrapfigure').forEach(function(e) {
            e.classList.add('float-sm-right');
            e.classList.add('mw-100');
        });
        renderElement.querySelectorAll('figure > img').forEach(function(e) {
            e.classList.add('figure-img');
        });
        renderElement.querySelectorAll('figcaption').forEach(function(e) {
            e.classList.add('figure-caption');
        });
        MathJax.Hub.Queue(
            function () {
                if (MathJax.InputJax.TeX.resetEquationNumbers) {
                    MathJax.InputJax.TeX.resetEquationNumbers();
                }
            },
            // ["resetEquationNumbers",MathJax.InputJax.TeX],
            ["Typeset",MathJax.Hub,renderElement]
        );
    }
    function hasClass(element, className) {
      return (' ' + element.className + ' ').indexOf(' ' + className+ ' ') > -1;
    }
    async function run() {
        // First up we need to actually load the wasm file, so we use the
        // default export to inform it where the wasm file is located on the
        // server, and then we wait on the returned promise to wait for the
        // wasm to be loaded.
        // It may look like this: `await init('./pkg/without_a_bundler_bg.wasm');`,
        // but there is also a handy default inside `init` function, which uses
        // `import.meta` to locate the wasm file relatively to js file
        //
        // Note that instead of a string here you can also pass in an instance
        // of `WebAssembly.Module` which allows you to compile your own module.
        // Also note that the promise, when resolved, yields the wasm module's
        // exports which is the same as importing the `*_bg` module in other
        // modes
        await init();

        document.querySelectorAll(".latexarea").forEach(function(editElement) {
            // create ace editor
            var aceDiv = document.createElement( 'div' );
            editElement.parentNode.insertBefore( aceDiv, editElement );

            var editor = ace.edit(aceDiv, {
                mode: "ace/mode/latex",
                // autoScrollEditorIntoView: true,
                maxLines: 4000,
                minLines: 15,
                wrap: true,
            });
            editor.renderer.setShowGutter(false);
            editor.session.setValue(editElement.value)
            editElement.style.display = "none"
            // find the parent form and add submit event listener.
            // The idea here is to update the editElement value right
            // before submitting.
            var form = editElement
            while (form && form.localName != "form") form = form.parentNode
            form.addEventListener("submit", function() {
                // update value of textarea to match value in ace
                editElement.value = editor.getValue()
            }, true)

            // And afterwards we can use all the functionality defined in wasm.
            var Preview = {
                delay: 15,         // delay after keystroke before updating
                preview: null,     // filled in by Init below
                buffer: null,      // filled in by Init below
                timeout: null,     // store setTimout id
                mjRunning: false,  // true when MathJax is processing
                mjPending: false,  // true when a typeset has been queued
                oldtext: null,     // used to check if an update is needed
                math_html: null,   // used to store the new html we want

                //
                //  Create the preview and buffer DIV's
                //
                Init: function () {
                    // Create a buffer and preview div
                    this.preview = document.createElement( 'div' );
                    this.buffer = document.createElement( 'div' );
                    // Assign the semi-generic "preview" class to each
                    this.buffer.classList.add('preview');
                    this.preview.classList.add('preview');
                    // Assign devault visibility to hidden.
                    this.preview.visibility = "hidden";
                    this.buffer.visibility = "hidden";
                    // Insert the divs into the existing structure (needs fine-tuning)
                    // editElement.parentNode.insertBefore( this.preview, editElement );
                    editElement.parentNode.parentNode.lastElementChild.appendChild(this.preview)
                    // editElement.parentNode.insertBefore( this.buffer, editElement );
                    editElement.parentNode.parentNode.lastElementChild.appendChild(this.buffer)
                },

                //
                //  Switch the buffer and preview, and display the right one.
                //  (We use visibility:hidden rather than display:none since
                //  the results of running MathJax are more accurate that way.)
                //
                SwapBuffers: function () {
                    var buffer = this.preview, preview = this.buffer;
                    this.buffer = buffer; this.preview = preview;
                    buffer.style.visibility = "hidden"; //
                    buffer.style.position = "absolute";
                    // preview.style.position = "";
                    preview.style.visibility = "";
                },

                //
                //  Creates the preview and runs MathJax on it.
                //  If MathJax is already trying to render the code, return
                //  If the text hasn't changed, return
                //  Otherwise, indicate that MathJax is running, and start the
                //    typesetting.  After it is done, call PreviewDone.
                //
                CreatePreview: function () {
                    Preview.timeout = null;
                    if (this.mjPending) return;
                    var text = this.math_html;
                    if (text === this.oldtext) return;
                    if (this.mjRunning) {
                        this.mjPending = true;
                        MathJax.Hub.Queue(["CreatePreview",this]);
                    } else {
                        this.buffer.innerHTML = this.oldtext = text;
                        this.mjRunning = true;
                        MathJax.Hub.Queue(
                            function () {
                                if (MathJax.InputJax.TeX.resetEquationNumbers) {
                                    MathJax.InputJax.TeX.resetEquationNumbers();
                                }
                            },
                            // ["resetEquationNumbers",MathJax.InputJax.TeX],
                            ["Typeset",MathJax.Hub,this.buffer],
                          ["PreviewDone",this]
                        );
                    }
                    // Apply the bootstrap classs to elements in the
                    // buffer.  See latex.py for code that really
                    // ought to match.
                    this.buffer.querySelectorAll("img")
                        .forEach(function (elem) {
                            elem.className += " img-fluid";
                            if (!elem.getAttribute('src').includes("/")) {
                                elem.src = "/media/figures/" + elem.getAttribute('src');
                            }
                        });
                    this.buffer.querySelectorAll("figure")
                        .forEach(function (elem) {
                            elem.className += " figure";
                            if (hasClass(elem, "wrapfigure")) {
                                elem.className += ' float-sm-right';
                                elem.className += ' mw-100';
                            }
                            e.querySelectorAll("img")
                                .forEach(function(i) {
                                    i.className += " figure-img";
                                });
                        });
                    this.buffer.querySelectorAll("figcaption")
                        .forEach(function (elem) {
                            elem.className += " figure-caption";
                        });
                },

                //
                //  Indicate that MathJax is no longer running,
                //  and swap the buffers to show the results.
                //
                PreviewDone: function () {
                    this.mjRunning = this.mjPending = false;
                    this.SwapBuffers();
                }
            };

            //
            //  Cache a callback to the CreatePreview action
            //
            Preview.Init();
            Preview.callback = MathJax.Callback(["CreatePreview",Preview]);
            // make sure it can run more than once
            Preview.callback.autoReset = true;
            var my_timeout = null;
            function update_preview() {
                Preview.math_html = html_with_solution(editor.getValue());
                Preview.CreatePreview();

            }
            update_preview(editor.getValue());


            editor.session.on('change', function(delta) {
                if (my_timeout) {
                    clearTimeout(my_timeout);
                }
                my_timeout = setTimeout(update_preview, 150);
            });

        });


    }

    run();

    </script>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.5/mode-latex.js" type="text/javascript" charset="utf-8"></script>
    <!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script> -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML"></script>
    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({
        "fast-preview": {
            disabled: true
        },
        TeX: { equationNumbers: { autoNumber: "AMS" } },
        "CommonHTML": { availableFonts: ["TeX"] },
        // enable inline equation rendering
        tex2jax: {
          inlineMath: [ ['$','$'], ["\\(","\\)"] ],
          processEscapes: true
        }
      });
      MathJax.Hub.Register.StartupHook("TeX Jax Ready",function () {
        MathJax.Hub.Insert(MathJax.InputJax.TeX.Definitions.macros,{
          cancel: ["Extension","cancel"],
          bcancel: ["Extension","cancel"],
          xcancel: ["Extension","cancel"],
          cancelto: ["Extension","cancel"]
        });
        TeX: {
          equationNumbers: { autoNumber: "AMS" }
        };
      });
    </script>



    </head>
    <body>
      {% block content %}
      {% endblock %}
    </body>
</html>
