{% extends 'public_app/base_multi_editor.html' %}
{% load crispy_forms_tags %}
{% load activity_extras %}
{% block content %}
  {% for message in messages %}
    <div class="alert alert-success">
        <a class="close" href="#" data-dismiss="alert">×</a>
        {{ message }}
    </div>
  {% endfor %}
  {% if perms.admin_app.can_add_activity %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <!-- <li class="breadcrumb-item"><a href="/">Home</a></li> -->
      <li class="breadcrumb-item"><a href="{% url 'activity_list' %}">Activities</a></li>
      <!-- If this is the solution view page, show link to view only, disable link on solution -->
      {% if view_name == 'activity_detail_solution' %}
        {% if activity.title %}<li class="breadcrumb-item"><a href="{% url 'activity_detail' pk=this_key %}">{{ activity.title }}</a></li>{% endif %}
        <li class="breadcrumb-item active" aria-current="page">View with Solution</li>
      {% else %}
        <li class="breadcrumb-item active" aria-current="page">{{ activity.title }}</li>
        <li class="breadcrumb-item"><a href="{% url 'activity_detail_solution' pk=this_key %}">View with Solution</a></li>
      {% endif %}
      <li class="breadcrumb-item"><a href="{% url 'activity_edit' pk=activity.pk %}">Edit</a></li>
      {% if this_key %}
      <li class="breadcrumb-item"><a href="{% url 'activity_media:progress_bar_upload_media' activity_id=this_key %}">Upload and Manage Media</a>-Save activity first!</li>{% endif %}
    </ol>
  </nav>
  {% endif %}

  <div class="container">

    <div class="card">
      <h2 class="card-header">
        {{ activity.title }}
      </h2>
      <div class="card-body">
        <blockquote class="blockquote mb-0">{{ activity.overview_paragraph }}</blockquote>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">{% if activity.type_of_beast %}<span class="oi oi-badge"></span> {{ activity.type_of_beast|trimtob }} activity {% endif %}
        {% if activity.time_estimate %}<span class="oi oi-clock" style="margin-left: 1em;"></span> {{ activity.time_estimate }} min. {% endif %}
        {% if activity.equipment_required %}<span class="oi oi-wrench" style="margin-left: 1em;"></span> {{ activity.equipment_required }}{% endif %}</li>
        {% if activity.topics %}<li class="list-group-item">{{ activity.topics|tagbuttons }}</li>{% endif %}
      </ul>
      <div class="card-body">{% if activity.what_students_learn %}What students learn
        <span class="col-sm-9 latextorender tex2jax_ignore" id="activity_what_students_learn_card">{{ activity.what_students_learn }}</span>{% endif %}
      </div>
      {% if activity.notes %}<ul class="list-group list-group-flush"><li class="list-group-item">
        <span class="col-sm-9 latextorender tex2jax_ignore" id="activity_notes">{{ activity.notes }}</span></li></ul>{% endif %}
    </div>

    {% if activity.instructor_guide %}
      
      <span class="col-sm-9 latextorender tex2jax_ignore" id="activity_instructor_guide">{{ activity.instructor_guide }}</span>{% endif %}
      
      {% if figures %}
        <hr>      
        <h5>Media</h5>
        <ul>        
        {% for figure in figures %}
          <li class="list-inline-item"><a href="{{ figure.file.url }}"><img class="img-fluid rounded" src="{{ figure.file.url }}" alt="{{ figure.file.name }}" width="100px"></a></li>
        {% empty %}
        <li class="list-inline-item">No Media Available</li>
        {% endfor %}
        </ul>
      {% endif %}

      <hr>
        
      <dl>
      {% if activity.author and perms.admin_app.can_add_activity %}<dt class="col-sm-3">Editor</dt>
      <dd class="col-sm-9" id="activity_author">{{ activity.author }}</dd>{% endif %}

      {% if activity.author_info %}<dt class="col-sm-3">Author Information</dt>
      <dd class="col-sm-9" id="activity_author_info">{{ activity.author_info }}</dd>{% endif %}

      {% if activity.keywords %}<dt class="col-sm-3">Keywords</dt>
      <dd class="col-sm-9" id="activity_keywords">{{ activity.topics|tagbuttons }}</dd>{% endif %}

      {% if activity.associated_paper_links and perms.admin_app.can_add_activity %}<dt class="col-sm-3">Associated Papers</dt>
      <dd class="col-sm-9" id="activity_associated_paper_links">{{ activity.associated_paper_links }}</dd>{% endif %}

      {% if activity.prerequisite_knowledge and perms.admin_app.can_add_activity %}<dt class="col-sm-3">Prerequisite Knowledge</dt>
      <dd class="col-sm-9 latextorender tex2jax_ignore" id="activity_prerequisite_knowledge">{{ activity.prerequisite_knowledge }}</dd>{% endif %}

      {% if activity.program_learning_outcomes and perms.admin_app.can_add_activity %}<dt class="col-sm-3">Program Learning Outcomes</dt>
      <dd class="col-sm-9 latextorender tex2jax_ignore" id="activity_program_learning_outcomes">{{ activity.program_learning_outcomes }}</dd>{% endif %}

      {% if activity.course_learning_outcomes and perms.admin_app.can_add_activity %}<dt class="col-sm-3">Course Learning Outcomes</dt>
      <dd class="col-sm-9 latextorender tex2jax_ignore" id="activity_course_learning_outcomes">{{ activity.course_learning_outcomes }}</dd>{% endif %}

      {% if activity.learning_progression_concepts and perms.admin_app.can_add_activity%}<dt class="col-sm-3">Learning Progression Concepts</dt>
      <dd class="col-sm-9 latextorender tex2jax_ignore" id="activity_learning_progression_concepts">{{ activity.learning_progression_concepts }}</dd>{% endif %}

      {% if activity.activity_image and perms.admin_app.can_add_activity %}<dt class="col-sm-3">Activity Image</dt>
      <dd class="col-sm-9"><a href="{{ activity.activity_image.url }}"><img class="img-fluid rounded" src="{{ activity.activity_image.url }}" alt="{{ activity.activity_image.name }}" width="100px"></a></dd>{% endif %}

      {% if activity.publication_status and perms.admin_app.can_add_activity %}<dt class="col-sm-3">Publication Status</dt>
      <dd class="col-sm-9" id="activity_">{{ activity.publication_status }}</dd>{% endif %}

      {% if activity.publication_date and perms.admin_app.can_add_activity %}<dt class="col-sm-3">Publication Date</dt>
      <dd class="col-sm-9" id="activity_">{{ activity.publication_date }}</dd>{% endif %}
    </dl>
  </div>
{% endblock %}
