{% extends 'public_app/base_multi_editor.html' %}
{% load latex %}
{% block title %}{{ page_title }}{% endblock %}
{% block content %}
<div class="container">
  <div class="page-header">
    <h1>Courses</h1>
  </div>
</div>

<form action="{% url 'course_list' %}" method="post">
  <input type="submit" name='submit' value="Submit">
  {% csrf_token %}
  <label for="id_name">Course name:</label> <input type="text" name="name" value="{{course.name}}" maxlength="100"
    required id="id_name">
  <label for="id_instructor">Instructor name:</label> <input type="text" name="instructor" value="{{course.instructor}}"
    maxlength="100" required id="id_instructor">
  <div class="day">
    <h5 class="thisday">Day</h5>
    <h5 class="topics">Topics</h5>
    <h5 class="activities">Activities</h5>
    <h5 class="resources">Resources</h5>
    <h5 class="due">Due</h5>
  </div>
  {% for day in course.days %}
  {% with daynum=forloop.counter0 %}
  <div class="day">
    <input class="thisday" type="text" name="day-{{daynum}}" value="{{day.name}}" required>
    <input class="topics" type="text" name="day-{{daynum}}-topics" value="{{day.topics}}" maxlength="100">
    <ul class="activities">
      {% for activity in day.activities %}
      {% with activity_number=forloop.counter0 %}
      <li>{{activity}}<input type="hidden" name="day-{{daynum}}-activity-{{activity_number}}" value="{{activity}}">
        <button type="submit" name="day-{{daynum}}-activity-{{activity_number}}-delete">Remove</button>
        {% endwith %}
        {% endfor %}
      <li>
        <input list="day-{{daynum}}-possible" style="max-width: 100%; width: 100%;" name="day-{{daynum}}-activity-new" placeholder="new activity">
          <datalist id="day-{{daynum}}-possible">
            {% for aa in day.possible_activities %}
            <option>{{ aa.title }}</option>
            {% endfor %}
          </datalist>
      </li>
    </ul>
    <ul class="due">
      {% for problem in day.problems %}
      {% with problem_number=forloop.counter0 %}
      <li>{{problem}}<input type="hidden" name="day-{{daynum}}-problem-{{problem_number}}" value="{{problem}}">
        <input type="text" name="day-{{daynum}}-problem-{{problem_number}}-instructions" value=""
          placeholder="instructions">
        <button type="submit" name="day-{{daynum}}-problem-{{problem_number}}-delete">Remove</button>
        {% endwith %}
        {% endfor %}
        {% with possible=day.possible_problems %}
        {% if possible %}
      <li><select name="day-{{daynum}}-problem-new">
          <option><i>assign problem</i></option>
          {% for aa in possible %}
          <option>{{ aa.problem_title | latex_with_solution }}</option>
          {% endfor %}
        </select>
        {% endif %}
        {% endwith %}
      </li>
    </ul>
    <div class="resources">
      <label for="id_day-{{daynum}}-resources">Resources:</label>
      <textarea name="day-{{daynum}}-resources" cols="40" rows="4" style="height: 4em" maxlength="1024"
        class="textarea form-control" id="id_day-{{daynum}}-resources">{{day.resources}}</textarea>
    </div>
  </div>
  {% endwith %}
  {% endfor %}
  <input type="submit" name='submit' value="Submit">
</form>

<div class="container">
  {% if perms.admin_app.can_add_course %}
  <p><a class="btn btn-sm btn-success" href="/admin/admin_app/course/add/" class="top-menu"><span class="oi oi-plus"
        title="Add new course button" alt="Create a new course."></span> Add Course </a></p>
  {% endif %}
  {% for course in courses %}
  <div class="card overflow-auto" style="margin-bottom: 10px;">
    <div class="card-body">
      <h5><a
          href="fixme">{{ course.catalog_name }}</a>        {% if perms.admin_app.can_edit_course %}
          <a href="/admin/admin_app/course/{{ course.pk }}/change">(edit)</a>
          {% endif %}
  {% if course.publication != 1 %}
        <span class="badge badge-danger">Unpublished</span>
        {% endif%}</h5>
      <p>
        {{ course.description }}
      </p>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}