{% extends 'public_app/base_multi_editor.html' %}
{% load latex %}
{% block title %}{{ page_title }}{% endblock %}
{% block content %}
<div class="container">
  <div class="page-header">
    <h1>Courses</h1>
  </div>
</div>

<form action="{% url 'course_list' %}" method="post">
  {% csrf_token %}
  <label for="id_name">Course name:</label> <input type="text" name="name" value="{{course.name}}" maxlength="100"
    required id="id_name">
  <label for="id_instructor">Instructor name:</label> <input type="text" name="instructor" value="{{course.instructor}}"
    maxlength="100" required id="id_instructor">
  <div class="schedule">
    {% for day in course.days %}
    {% with daynum=forloop.counter0 %}
    <div class="day">
      <label for="id_day-{{daynum}}">Day:</label> <input type="text" name="day-{{daynum}}" value="{{day.name}}" required
        id="id_day-{{daynum}}">
      <label for="id_day-{{daynum}}-topics">Topics</label> <input type="text" name="day-{{daynum}}-topics"
        value="{{day.topics}}" maxlength="100" required id="id_day-{{daynum}}-topics">
      <ul>
        {% for activity in day.activities %}
        {% with activity_number=forloop.counter0 %}
        <li>{{activity}}<input type="hidden" name="day-{{daynum}}-activity-{{activity_number}}" value="{{activity}}">
          <button type="submit" name="day-{{daynum}}-activity-{{activity_number}}-delete">Remove</button>
          {% endwith %}
          {% endfor %}
        <li><label for="id_day-{{daynum}}-activity-new">new activity:</label> <input type="text"
            name="day-{{daynum}}-activity-new" id="id_day-{{daynum}}-activity-new"></li>
      </ul>

    </div>
    {% endwith %}
    {% endfor %}
  </div>
  <input type="submit" name='submit' value="Submit">
</form>

<div class="container">
  {% if perms.admin_app.can_add_course %}
  <p><a class="btn btn-sm btn-success" href="{% url 'course_new' %}" class="top-menu"><span class="oi oi-plus"
        title="Add new course button" alt="Create a new course."></span> Add Course </a></p>
  {% endif %}
  {% for course in courses %}
  <div class="card overflow-auto" style="margin-bottom: 10px;">
    <div class="card-body">
      <h5><a
          href="{% if perms.admin_app.can_add_course %}{% url 'course_detail_solution' pk=course.pk %}{% else %}{% url 'course_detail' pk=course.pk %}{% endif %}">{{ course.title }}</a>{% if course.publication != 1 %}
        <span class="badge badge-danger">Unpublished</span>
        {% endif%}</h5>
      {% if course.overview_paragraph %}
      {% if forloop.counter == 1 %}
      <p>
        {% if perms.admin_app.can_add_course %}{{ course.overview_paragraph | latex_with_solution }}{% else %}{{ course.overview_paragraph | latex_omit_solution }}{% endif %}
      </p>
      {% else %}
      <p class="overflow-auto">
        {% if perms.admin_app.can_add_course %}{{ course.overview_paragraph | latex_with_solution }}{% else %}{{ course.overview_paragraph | latex_omit_solution }}{% endif %}
      </p>
      {% endif %}
      {% endif %}
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}