{% extends 'public_app/base_multi_editor.html' %}
{% load latex %}
{% block title %}{{ course.catalog_name }}{% endblock %}
{% block content %}
<nav aria-label="breadcrumb" class="noprint">
    <ol class="breadcrumb">
        <!-- <li class="breadcrumb-item"><a href="/">Home</a></li> -->
        <li class="breadcrumb-item"><a href="{% url 'course_list'%}">Courses</a></li>
        <li class="breadcrumb-item"><a href="{% url 'course_view' course.number %}">{{ course }}</a>
            <!-- If this is the solution view page, show link to view only, disable link on solution -->
            {% if view == 'overview' %}
        <li class="breadcrumb-item active" aria-current="page">{{ taught.year }}</li>
        <li class="breadcrumb-item"><a
                href="{% url 'course_as_taught_syllabus' course.number taught.slug %}">Syllabus</a></li>
        <li class="breadcrumb-item"><a
                href="{% url 'course_as_taught_schedule' course.number taught.slug %}">Schedule</a></li>
        {% elif view == 'syllabus' %}
        <li class="breadcrumb-item"><a
                href="{% url 'course_as_taught' course.number taught.slug %}">{{ taught.year }}</a></li>
        <li class="breadcrumb-item active" aria-current="page">Syllabus</li>
        <li class="breadcrumb-item"><a
                href="{% url 'course_as_taught_schedule' course.number taught.slug %}">Schedule</a></li>
        {% else %}
        <li class="breadcrumb-item"><a
                href="{% url 'course_as_taught' course.number taught.slug %}">{{ taught.year }}</a></li>
        <li class="breadcrumb-item"><a
                href="{% url 'course_as_taught_syllabus' course.number taught.slug %}">Syllabus</a></li>
        <li class="breadcrumb-item active" aria-current="page">Schedule</li>
        </li>
        {% endif %}
        <li class="breadcrumb-item"><a href="{% url 'course_as_taught_edit' course.number taught.slug %}">Edit</a></li>
    </ol>
</nav>

<div class="container">
    <div class="card overflow-auto" style="margin-bottom: 10px;">
        <h2 class="card-header">
            {% if view == 'syllabus' %}Syllabus for{% endif %} {{taught.year}} {{ course.short_name }}
        </h2>
        <div class="card-body">
            <dl>
                <dt>Course name:</dt>
                <dd>{{ course.catalog_name }} {% if course.publication != 1 %}
                    <span class="badge badge-danger">Unpublished</span>
                    {% endif%}</dd>
                <dt>Course number:</dt>
                <dd>{{ course.pretty_number }}</dd>
                <dt>Instructor:</dt>
                <dd>{{ taught.instructor }}</dd>
                <dt>Course credits:</dt>
                <dd>3???</dd>
                <dt>Prerequisites:</dt>
                <dd>{% if course.prereq %}{{ course.prereq }}{% else %}none{% endif %}</dd>
                <dt>Course description:</dt>
                <dd>{{ course.description }}</dd>
                <dt>Course content:</dt>
                <dd>
                    <ul>
                        <li>Decide what we want here</li>
                        <li>Add actual content</li>
                    </ul>
                </dd>

                {% if view == 'syllabus' %}
                <dt>Student learning outcomes:</dt>
                <dd>
                    <ul>
                        {% for lo in course.courselearningoutcome_set.all %}
                        <li>{{ lo.number}}) {{ lo.outcome }} </li>
                        {% endfor %}
                    </ul>
                </dd>
                <dt>Evaluation of student performance:</dt>
                <dd>Edit this please</dd>
                <dt>Statement regarding students with disabilities:</dt>
                <dd>Accommodations for students with disabilities are determined and approved
                    by Disability Access Services (DAS). If you, as a student, believe you are
                    eligible for accommodations but have not obtained approval please contact
                    DAS immediately at 541-737-4098 or at
                    <a href="http://ds.oregonstate.edu">http://ds.oregonstate.edu</a>. DAS notifies
                    students and faculty members of approved academic accommodations and
                    coordinates implementation of those accommodations. While not required,
                    students and faculty members are encouraged to discuss details of the
                    implementation of individual accommodations.</dd>
                <dt>Expectations of student conduct:</dt>
                <dd>Edit this please</dd>
                <dt>Reach out for success:</dt>
                <dd>University students encounter setbacks from time to time. If you encounter
                    difficulties and need assistance, it’s important to reach out. Consider
                    discussing the situation with an instructor or academic advisor. Learn
                    about resources that assist with wellness and academic success at
                    <a href="https://counseling.oregonstate.edu/reach-out-success">oregonstate.edu/ReachOut</a>.
                    If you are in immediate crisis, please contact
                    the Crisis Text Line by texting OREGON to 741-741 or call the National
                    Suicide Prevention Lifeline at 1-800-273-TALK (8255)</dd>
                {% endif %}
            </dl>
        </div>
    </div>
    <div class="day">
        <h5 class="thisday">Day</h5>
        <h5 class="topic">Topic</h5>
        <h5 class="activities">In class today</h5>
        <h5 class="resources">Resources</h5>
        <h5 class="due">Due</h5>
    </div>
    {% if view == 'schedule' %}
    {% for day in days %}
    <div class="day">
        <div class="thisday">{{day.day}}</div>
        {% if day.topic %}
        <div class="topic">{{day.topic}}</div>{% endif %}
        {% if day.activities %}
        <ul class="activities">
            {% for activity in day.activities %}
            <li>{{activity}}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% if day.problems %}
        <ul class="due">
            {% for problem in day.problems %}
            {% with problem_number=forloop.counter0 %}
            <li>{{problem}}<input type="hidden" name="day-{{day.pk}}-problem-{{problem_number}}" value="{{problem}}">
                <input type="text" name="day-{{day.pk}}-problem-{{problem_number}}-instructions" value=""
                    placeholder="instructions">
                <button type="submit" name="day-{{day.pk}}-problem-{{problem_number}}-delete">Remove</button>
                {% endwith %}
                {% endfor %}
                {% with possible=day.possible_problems %}
                {% if possible %}
            <li><select name="day-{{day.pk}}-problem-new">
                    <option><i>assign problem</i></option>
                    {% for aa in possible %}
                    <option>{{ aa.problem_title | latex_with_solution }}</option>
                    {% endfor %}
                </select>
                {% endif %}
                {% endwith %}
            </li>
        </ul>
        {% endif %}
        {% if day.resources %}
        <div class="resources">{{ day.resources }}</div>{% endif %}
    </div>
    {% endfor %}
    {% endif %}
</div>
{% endblock %}