{% extends 'public_app/base_multi_editor.html' %}
{% load latex %}
{% block title %}{{ page_title }}{% endblock %}
{% block content %}

<nav aria-label="breadcrumb" class="noprint">
    <ol class="breadcrumb">
        <!-- <li class="breadcrumb-item"><a href="/">Home</a></li> -->
        <li class="breadcrumb-item"><a href="{% url 'course_list'%}">Courses</a></li>
        <li class="breadcrumb-item"><a href="{% url 'course_view' course.number %}">{{ course }}</a>
        <li class="breadcrumb-item"><a
                href="{% url 'course_as_taught' course.number taught.slug %}">{{ taught.year }}</a></li>
        <li class="breadcrumb-item"><a
                href="{% url 'course_as_taught_syllabus' course.number taught.slug %}">Syllabus</a></li>
        <li class="breadcrumb-item"><a
                href="{% url 'course_as_taught_schedule' course.number taught.slug %}">Schedule</a></li>
        <li class="breadcrumb-item active" aria-current="page">Edit</li>
    </ol>
</nav>

<form action="{% url 'course_as_taught_edit' course.number taught.slug %}" method="post">
    <input type="submit" name='submit' value="Save">
    {% csrf_token %}
    <dl>
        <dt>Course name:</dt>
        <dd>{{ course.catalog_name }} {% if course.publication != 1 %}
            <span class="badge badge-danger">Unpublished</span>
            {% endif%}</dd>
        <dt>Course number:</dt>
        <dd>{{ course.pretty_number }}</dd>

        <label for="id_year">
            <dt>Term:</dt>
        </label>
        <dd><input type="text" name="year" value="{{ taught.year }}" maxlength="100" required id="id_year"></dd>

        <label for="id_instructor">
            <dt>Instructor:</dt>
        </label>
        <dd><input type="text" name="instructor" value="{{ taught.instructor }}" maxlength="100" required
                id="id_instructor"></dd>

        <dt>Course credits:</dt>
        <dd>3???</dd>

        <dt>Prerequisites:</dt>
        <dd>{% if course.prereq %}{{ course.prereq }}{% else %}none{% endif %}</dd>
        <dt>Course description:</dt>
        <dd>{{ course.description }}</dd>
        <dt>Course content:</dt>
        <dd>
            <ul>
                <li>Decide what we want here</li>
                <li>Add actual content</li>
            </ul>
        </dd>
    </dl>
    <datalist id="activities-possible">
        {% for aa in taught.possible_activities %}
        <option>{{ aa.title }}</option>
        {% endfor %}
    </datalist>
    <datalist id="problems-possible">
        {% for aa in taught.possible_problems %}
        <option>{{ aa.problem_title }}</option>
        {% endfor %}
    </datalist>
    <div class="schedule">
        <h5 class="thisday">Day</h5>
        <h5 class="topic">Topic</h5>
        <h5 class="activities">In class today</h5>
        <h5 class="resources">Resources</h5>
        <h5 class="due">Due</h5>
        {% for day in days %}
        <div class="thisday">
            <input type="text" name="day-{{day.pk}}" value="{{day.day}}" required>
            <input type="text" style="max-width: 50%;" name="day-{{day.pk}}-order" value="{{day.order}}">
            <button class="btn btn-sm btn-warning" type="submit" name="day-{{day.pk}}-delete">Remove</button>
        </div>

        <div class="topic">
            <textarea name="day-{{day.pk}}-topic" cols="40" rows="1" maxlength="1024" class="textarea form-control"
                id="id_day-{{day.pk}}-topic">{{day.topic}}</textarea>
        </div>
        <ul class="activities">
            {% for activity in day.activities %}
            {% with activity_number=forloop.counter0 %}
            <li>{{activity}}<input type="hidden" name="day-{{day.pk}}-activity-{{activity_number}}"
                    value="{{activity}}">
                <button type="submit" name="day-{{day.pk}}-activity-{{activity_number}}-delete">Remove</button>
                {% endwith %}
                {% endfor %}
            <li>
                <input list="activities-possible" style="max-width: 100%; width: 100%;"
                    name="day-{{day.pk}}-activity-new" placeholder="new activity">
            </li>
        </ul>
        <ul class="due">
            {% for problem in day.problems %}
            {% with problem_number=forloop.counter0 %}
            <li>{{problem}}<input type="hidden" name="day-{{day.pk}}-problem-{{problem_number}}" value="{{problem}}">
                <input type="text" name="day-{{day.pk}}-problem-{{problem_number}}-instructions" value=""
                    placeholder="instructions">
                <button type="submit" name="day-{{day.pk}}-problem-{{problem_number}}-delete">Remove</button>
                {% endwith %}
                {% endfor %}
            <li>
                <!-- <li><select name="day-{{day.pk}}-problem-new">
                    <option><i>assign problem</i></option>
                    {% for aa in day.taught.possible_problems %}
                    <option>{{ aa.problem_title | latex_with_solution }}</option>
                    {% endfor %}
                </select> -->
                <input list="homework-possible" style="max-width: 100%; width: 100%;"
                    name="day-{{day.pk}}-problem-new" placeholder="search for problem">
            </li>
        </ul>
        <div class="resources">
            <textarea name="day-{{day.pk}}-resources" cols="40" rows="1" maxlength="1024" class="textarea form-control"
                id="id_day-{{day.pk}}-resources">{{day.resources}}</textarea>
        </div>
        {% endfor %}
        <input class="thisday" type="text" name="day-new" value="">
    </div>
</form>
{% endblock %}