{% extends 'public_app/base_multi_editor.html' %}
{% load latex %}
{% block title %}{{ page_title }}{% endblock %}
{% block content %}

<nav aria-label="breadcrumb" class="noprint">
    <ol class="breadcrumb">
        <!-- <li class="breadcrumb-item"><a href="/">Home</a></li> -->
        <li class="breadcrumb-item"><a href="{% url 'course_list'%}">Courses</a></li>
        <li class="breadcrumb-item"><a href="{% url 'course_view' course.number %}">{{ course }}</a>
        <li class="breadcrumb-item"><a
                href="{% url 'course_as_taught' course.number taught.slug %}">{{ taught.year }}</a></li>
        <li class="breadcrumb-item"><a
                href="{% url 'course_as_taught_syllabus' course.number taught.slug %}">Syllabus</a></li>
        <li class="breadcrumb-item"><a
                href="{% url 'course_as_taught_schedule' course.number taught.slug %}">Schedule</a></li>
        <li class="breadcrumb-item active" aria-current="page">Edit</li>
    </ol>
</nav>

<form action="{% url 'course_as_taught_edit' course.number taught.slug %}" method="post">
    <input type="submit" name='submit' value="Save">
    {% csrf_token %}
    <dl>
        <dt>Course name:</dt>
        <dd>{{ course.catalog_name }} {% if course.publication != 1 %}
            <span class="badge badge-danger">Unpublished</span>
            {% endif%}</dd>
        <dt>Course number:</dt>
        <dd>{{ course.pretty_number }}</dd>

        <label for="id_year">
            <dt>Term:</dt>
        </label>
        <dd><input type="text" name="year" value="{{ taught.year }}" maxlength="100" required id="id_year"></dd>

        <label for="id_instructor">
            <dt>Instructor:</dt>
        </label>
        <dd><input type="text" name="instructor" value="{{ taught.instructor }}" maxlength="100" required
                id="id_instructor"></dd>

        <dt>Course credits:</dt>
        <dd>3???</dd>

        <dt>Prerequisites:</dt>
        <dd>{% if course.prereq %}{{ course.prereq }}{% else %}none{% endif %}</dd>
        <dt>Course description:</dt>
        <dd>{{ course.description }}</dd>
        <dt>Course content:</dt>
        <dd>
            <ul>
                <li>Decide what we want here</li>
                <li>Add actual content</li>
            </ul>
        </dd>
    </dl>
    <div class="day">
        <h5 class="thisday">Day</h5>
        <h5 class="topics">Topics</h5>
        <h5 class="activities">Activities</h5>
        <h5 class="resources">Resources</h5>
        <h5 class="due">Due</h5>
    </div>
    {% for day in course.days %}
    {% with daynum=forloop.counter0 %}
    <div class="day">
        <input class="thisday" type="text" name="day-{{daynum}}" value="{{day.name}}" required>
        <input class="topics" type="text" name="day-{{daynum}}-topics" value="{{day.topics}}" maxlength="100">
        <ul class="activities">
            {% for activity in day.activities %}
            {% with activity_number=forloop.counter0 %}
            <li>{{activity}}<input type="hidden" name="day-{{daynum}}-activity-{{activity_number}}"
                    value="{{activity}}">
                <button type="submit" name="day-{{daynum}}-activity-{{activity_number}}-delete">Remove</button>
                {% endwith %}
                {% endfor %}
            <li>
                <input list="day-{{daynum}}-possible" style="max-width: 100%; width: 100%;"
                    name="day-{{daynum}}-activity-new" placeholder="new activity">
                <datalist id="day-{{daynum}}-possible">
                    {% for aa in day.possible_activities %}
                    <option>{{ aa.title }}</option>
                    {% endfor %}
                </datalist>
            </li>
        </ul>
        <ul class="due">
            {% for problem in day.problems %}
            {% with problem_number=forloop.counter0 %}
            <li>{{problem}}<input type="hidden" name="day-{{daynum}}-problem-{{problem_number}}" value="{{problem}}">
                <input type="text" name="day-{{daynum}}-problem-{{problem_number}}-instructions" value=""
                    placeholder="instructions">
                <button type="submit" name="day-{{daynum}}-problem-{{problem_number}}-delete">Remove</button>
                {% endwith %}
                {% endfor %}
                {% with possible=day.possible_problems %}
                {% if possible %}
            <li><select name="day-{{daynum}}-problem-new">
                    <option><i>assign problem</i></option>
                    {% for aa in possible %}
                    <option>{{ aa.problem_title | latex_with_solution }}</option>
                    {% endfor %}
                </select>
                {% endif %}
                {% endwith %}
            </li>
        </ul>
        <div class="resources">
            <label for="id_day-{{daynum}}-resources">Resources:</label>
            <textarea name="day-{{daynum}}-resources" cols="40" rows="4" style="height: 4em" maxlength="1024"
                class="textarea form-control" id="id_day-{{daynum}}-resources">{{day.resources}}</textarea>
        </div>
    </div>
    {% endwith %}
    {% endfor %}
</form>
{% endblock %}