{% extends 'public_app/base_multi_editor.html' %}
{% load latex %}
{% block title %}{{ page_title }}{% endblock %}
{% block content %}
<div class="container">
  <div class="page-header">
    <h1>Courses</h1>
  </div>
</div>

<div class="container">
  {% if perms.admin_app.add_course %}
  <p><a class="btn btn-sm btn-success" href="/admin/admin_app/course/add/" class="top-menu"><span class="oi oi-plus"
        title="Add new course button" alt="Create a new course."></span> Add Course </a></p>
  {% endif %}

  {% for course in courses %}
  {% if perms.admin_app.edit_problem %}
  <div class="card overflow-auto" style="margin-bottom: 10px;">
    <div class="card-body">
      <h5><a
          href="{% url 'course_view' course.number %}">{{ course.catalog_name }}</a>
  {% if not course.publication %}
        <span class="badge badge-danger">Unpublished</span>
        {% endif%}</h5>
      <p>
        {{ course.description }}
      </p>
    </div>
  </div>
  {% endif %}
  {% endfor %}
</div>
{% endblock %}