{% extends 'public_app/base_multi_editor.html' %}
{% load latex %}
{% block title %}{{ course.catalog_name }}{% endblock %}
{% block content %}
<nav aria-label="breadcrumb" class="noprint">
    <ol class="breadcrumb">
        <!-- <li class="breadcrumb-item"><a href="/">Home</a></li> -->
        <li class="breadcrumb-item"><a href="{% url 'course_list'%}">Courses</a></li>
        <li class="breadcrumb-item"><a href="{% url 'course_view' course.number %}">{{ course }}</a>
            <!-- If this is the solution view page, show link to view only, disable link on solution -->
            {% if view == 'overview' %}
        <li class="breadcrumb-item active" aria-current="page">{{ taught.year }}</li>
        <li class="breadcrumb-item"><a
                href="{% url 'course_as_taught_syllabus' course.number taught.slug %}">Syllabus</a></li>
        <li class="breadcrumb-item"><a
                href="{% url 'course_as_taught_schedule' course.number taught.slug %}">Schedule</a></li>
        {% elif view == 'syllabus' %}
        <li class="breadcrumb-item"><a
                href="{% url 'course_as_taught' course.number taught.slug %}">{{ taught.year }}</a></li>
        <li class="breadcrumb-item active" aria-current="page">Syllabus</li>
        <li class="breadcrumb-item"><a
                href="{% url 'course_as_taught_schedule' course.number taught.slug %}">Schedule</a></li>
        {% else %}
        <li class="breadcrumb-item"><a
                href="{% url 'course_as_taught' course.number taught.slug %}">{{ taught.year }}</a></li>
        <li class="breadcrumb-item"><a
                href="{% url 'course_as_taught_syllabus' course.number taught.slug %}">Syllabus</a></li>
        <li class="breadcrumb-item active" aria-current="page">Schedule</li>
        </li>
        {% endif %}
        <li class="breadcrumb-item"><a href="{% url 'course_as_taught_edit' course.number taught.slug %}">Edit</a></li>
    </ol>
</nav>

<div class="container">
    <div class="card overflow-auto" style="margin-bottom: 10px;">
        <h2 class="card-header">
            {% if view == 'syllabus' %}Syllabus for{% endif %} {{taught.year}} {{ course.short_name }}
        </h2>
        <div class="card-body">
            <dl>
                <dt>Course name:</dt>
                <dd>{{ course.catalog_name }} {% if course.publication != 1 %}
                    <span class="badge badge-danger">Unpublished</span>
                    {% endif%}</dd>
                <dt>Course number:</dt>
                <dd>{{ course.pretty_number }}</dd>
                <dt>Instructor:</dt>
                <dd>{{ taught.instructor }}</dd>
                <dt>Course credits:</dt>
                <dd>3</dd>
                <dt>Prerequisites:</dt>
                <dd>{% if course.prereq %}{{ course.prereq }}{% else %}none{% endif %}</dd>
                <dt>Course description:</dt>
                <dd>{{ course.description }}</dd>
                {% if view == 'syllabus' %}
                <dt>Learning outcomes:</dt>
                <dd>
                    <ul class="checkboxes">
                        {% for lo in learning_outcomes %}
                        <li>
                            {% if lo.my_activities or lo.my_problems %}
                            <details>
                                <summary>{{ lo.number}}) {{ lo.outcome }}</summary>
                                <ul>
                                    {% for activity in lo.my_activities %}
                                    <li>Taught: {{ activity }}</li>
                                    {% endfor %}
                                    {% for problem in lo.my_problems %}
                                    <li>Assessed: {{ problem }}</li>
                                    {% endfor %}
                                </ul>
                            </details>
                            {% else %}
                            {{ lo.number}}) {{ lo.outcome }}
                            {% endif %}
                        </li>
                        {% endfor %}
                    </ul>
                </dd>
                <dt>Course content:</dt>
                <dd>
                    <ul>
                        <li>Decide what we want here</li>
                        <li>Add actual content</li>
                    </ul>
                </dd>
                <dt>Evaluation of student performance:</dt>
                <dd>{{ taught.evaluation | latex_omit_solution }}</dd>
                <dt>Statement regarding students with disabilities:</dt>
                <dd>Accommodations for students with disabilities are determined and approved
                    by Disability Access Services (DAS). If you, as a student, believe you are
                    eligible for accommodations but have not obtained approval please contact
                    DAS immediately at 541-737-4098 or at
                    <a href="http://ds.oregonstate.edu">http://ds.oregonstate.edu</a>. DAS notifies
                    students and faculty members of approved academic accommodations and
                    coordinates implementation of those accommodations. While not required,
                    students and faculty members are encouraged to discuss details of the
                    implementation of individual accommodations.</dd>
                <dt>Expectations of student conduct:</dt>
                <dd>Edit this please</dd>
                <dt>Reach out for success:</dt>
                <dd>University students encounter setbacks from time to time. If you encounter
                    difficulties and need assistance, it’s important to reach out. Consider
                    discussing the situation with an instructor or academic advisor. Learn
                    about resources that assist with wellness and academic success at
                    <a href="https://counseling.oregonstate.edu/reach-out-success">oregonstate.edu/ReachOut</a>.
                    If you are in immediate crisis, please contact
                    the Crisis Text Line by texting OREGON to 741-741 or call the National
                    Suicide Prevention Lifeline at 1-800-273-TALK (8255)</dd>
                {% endif %}
            </dl>
        </div>
    </div>

    {% if view == 'schedule' %}
    <div class="schedule">
        <h5 class="thisday">Day</h5>
        {% if taught.has_topics %}<h5 class="topic">Topic</h5>{% endif %}
        {% if taught.has_activities %}<h5 class="activities">In class today</h5>{% endif %}
        {% if taught.has_resources %}<h5 class="resources">Resources</h5>{% endif %}
        <h5 class="due">Homework</h5>
        <hr />

        {% for day in days %}
        <div class="thisday">{{day.day}}</div>
        {% if day.topic %}
        <div class="topic">{{day.topic | latex_omit_solution  }}</div>{% endif %}
        {% if day.activities.exists %}
        <ul class="activities">
            {% for da in day.dayactivity_set.all %}
            <li><a href="{% url 'activity_detail' da.activity.pk %}">{{da.activity}}</a>
                {% if da.show_handout and da.activity.has_handout %}
                <a href="{% url 'activity_detail_handout' da.activity.pk %}">(handout)</a>
                {% endif %}
                {% if da.show_solution and da.activity.has_solution %}
                <a href="{% url 'activity_detail_solution' da.activity.pk %}">(solution)</a>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
        {% endif %}
        {% if day.resources %}
        <div class="resources">{{ day.resources | latex_omit_solution }}</div>{% endif %}
        {% if day.problems.exists or day.problemset.exists %}
        <ul class="due">
            {% for problem in day.problems.all %}
            <li><a href="{% url 'problem_display_html' problem.pk %}">{{problem}}</a></li>
            {% endfor %}
            {% if day.problemset.exists %}
            <li>
                <h5>
                    <a href="{% url 'taught_problemset' taught.course.number taught.slug day.problemset_slug %}">{{day.problemsetname | latex_omit_solution }}
                        due</a>
                    <a href="{% url 'taught_problemset_pdf' taught.course.number taught.slug day.problemset_slug %}">(PDF)</a>
                    (<a href="{% url 'taught_solution' taught.course.number taught.slug day.problemset_slug %}">Solution</a>
                    <a href="{% url 'taught_solution_pdf' taught.course.number taught.slug day.problemset_slug %}">[PDF]</a>)
                </h5>
                <ol>
                    {% for p in day.problemset_data.all %}
                    <li><strong>{{ p.problem.problem_title | latex_omit_solution }}</strong>
                        {{ p.instructions | latex_omit_solution }}</li>
                    {% endfor %}
                </ol>
                {% endif %}
            </li>


        </ul>
        {% endif %}
        <hr />
        {% endfor %}
    </div>
    {% endif %}
</div>
{% endblock %}