{% extends 'public_app/base_multi_editor.html' %}
{% load latex %}
{% block title %}{{ course.catalog_name }}{% endblock %}
{% block content %}
<nav aria-label="breadcrumb" class="noprint">
    <ol class="breadcrumb">
        <!-- <li class="breadcrumb-item"><a href="/">Home</a></li> -->
        <li class="breadcrumb-item"><a href="{% url 'course_list'%}">Courses</a></li>
        <!-- If this is the solution view page, show link to view only, disable link on solution -->
        {% if view == 'overview' %}
        <li class="breadcrumb-item active" aria-current="page">{{ course }}</li>
        <li class="breadcrumb-item"><a href="{% url 'course_syllabus' course.number %}">Syllabus</a></li>
        <li class="breadcrumb-item"><a href="{% url 'course_years' course.number %}">Years</a>
        </li>
        {% elif view == 'syllabus' %}
        <li class="breadcrumb-item"><a href="{% url 'course_view' course.number %}">{{ course }}</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Syllabus</li>
        <li class="breadcrumb-item"><a href="{% url 'course_years' course.number %}">Years</a></li>
        {% else %}
        <li class="breadcrumb-item"><a href="{% url 'course_view' course.number %}">{{ course }}</a>
        </li>
        <li class="breadcrumb-item"><a href="{% url 'course_syllabus' course.number %}">Syllabus</a></li>
        <li class="breadcrumb-item active" aria-current="page">Years</li>
        {% endif %}
        {% if perms.admin_app.add_course %}
        <li class="breadcrumb-item">
            <a href="/admin/admin_app/course/{{ course.pk }}/change">Edit</a></li>
        {% endif %}
    </ol>
</nav>

<div class="container">
    <div class="card overflow-auto" style="margin-bottom: 10px;">
        <h2 class="card-header">
            {% if view == 'syllabus' %}Syllabus for{% endif %} {{ course.catalog_name }}
        </h2>
        <div class="card-body">
            <dl>
                <dt>Course name:</dt>
                <dd>{{ course.catalog_name }} {% if course.publication != 1 %}
                    <span class="badge badge-danger">Unpublished</span>
                    {% endif%}</dd>
                <dt>Course number:</dt>
                <dd>{{ course.pretty_number }}</dd>
                <dt>Course credits:</dt>
                <dd>{{ course.credits }}</dd>
                <dt>Prerequisites:</dt>
                <dd>{% if course.prereq %}{{ course.prereq }}{% else %}none{% endif %}</dd>
                <dt>Course description:</dt>
                <dd>{{ course.description }}</dd>
                {% if view == 'syllabus' %}
                <dt>Learning resources:</dt>
                <dd>{{ course.learning_resources | latex_omit_solution }}</dd>
                <dt>Student learning outcomes:</dt>
                <dd>
                    <ul class="checkboxes">
                        {% for lo in course.courselearningoutcome_set.all %}
                        <li>{{ lo.number}}) {{ lo.outcome }} </li>
                        {% endfor %}
                    </ul>
                </dd>
                {% if course.coursecontent_set %}
                <dt>Course content:</dt>
                <dd>
                    <ul class="checkboxes">
                        {% for c in course.coursecontent_set.all %}
                        <li>{{ c.number}}) {{ c.topic | latex_omit_solution }} </li>
                        {% endfor %}
                    </ul>
                </dd>
                {% elif course.content %}
                <dt>Course content:</dt>
                <dd>
                    <dl>{% for c in course.content %}
                        <dt>{{ c.day | latex_omit_solution }}</dt><dd>{{ c.topic | latex_omit_solution }}</dd>
                        {% endfor %}
                    </dl>
                </dd>
                {% endif %}
            <dt>Evaluation of student performance:</dt>
                <dd>{{ course.evaluation | latex_omit_solution }}</dd>
                <dt>Statement regarding students with disabilities:</dt>
                <dd>Accommodations for students with disabilities are determined and approved
                    by Disability Access Services (DAS). If you, as a student, believe you are
                    eligible for accommodations but have not obtained approval please contact
                    DAS immediately at 541-737-4098 or at
                    <a href="http://ds.oregonstate.edu">http://ds.oregonstate.edu</a>. DAS notifies
                    students and faculty members of approved academic accommodations and
                    coordinates implementation of those accommodations. While not required,
                    students and faculty members are encouraged to discuss details of the
                    implementation of individual accommodations.</dd>
                <dt>Expectations of student conduct</dt>
                <dd>Students are expected to comply with the University code of
                    conduct, available at <a
                    href="https://beav.es/codeofconduct">https://beav.es/codeofconduct</a>.</dd>
                <dt>Reach out for success:</dt>
                <dd>University students encounter setbacks from time to time. If you encounter
                    difficulties and need assistance, it’s important to reach out. Consider
                    discussing the situation with an instructor or academic advisor. Learn
                    about resources that assist with wellness and academic success at
                    <a href="https://counseling.oregonstate.edu/reach-out-success">oregonstate.edu/ReachOut</a>.
                    If you are in immediate crisis, please contact
                    the Crisis Text Line by texting OREGON to 741-741 or call the National
                    Suicide Prevention Lifeline at 1-800-273-TALK (8255)</dd>
                    {% endif %}
            </dl>
        </div>
        {% if view == 'years' %}
        <ul>
            {% for taught in course.courseastaught_set.all %}
            <li>{% include "courses/taught-list.html" %}</li>
            {% endfor %}
            <li>
                <a href="{% url 'course_as_taught_edit' course.number 'NEW' %}">New year</a>
            </li>
        </ul>
        {% endif %}
    </div>
</div>
{% endblock %}