{% load problem_extras %}
{% load latex %}
<div class="card" style="margin-bottom: 10px">
    <div class="card-body fadeout">
        <p class="card-text beast" style="margin-bottom: 5px;">{{ item.beast }}</p>
        <h5><a href="{% url 'problem_display_html' pk=item.pk %}">{{ item.problem_title }}
                {% if item.publication == "0" or not item.publication %}<span class="badge badge-danger"><span
                        class="oi oi-warning"></span> Draft</span>{% endif %} </a></h5>
        {{ item.topics|problemtopicbuttons }}
        {% if query and False %}
        {% load highlight %}
        {% with item.problem_latex|latex_omit_solution as text %}
          {% highlight text with query %}
        {% endwith %}
        {% else %}
        {{ item.problem_latex | latex_omit_solution }}
        {% endif %}
    </div>
</div>